<input type="text" placeholder="搜索" class="ng-hide" ng-model="filter" ng-show="current.menu.filterable">
<div class="segmented-control" ng-style="{height: (current.menu.menus[0].length > 7 ? 7 : current.menu.menus[0].length) * 45 + 'px'}">
  <div class="control-item" ng-repeat="(i, menu) in current.menu.menus">
    <div class="dropdown-scroll">
      <ul class="table-view media huge" ng-class="{last: $last}">
        <li class="table-view-cell" ng-class="{'media-more': column.children || column.link, active: current.menu.indexes[i] == j, focus: column.focus}" ng-repeat="(j, column) in filtered(menu)">
          <a ng-click="column.children ? toggleColumn(i, j, column) : redirectTo(column)">
            <img ng-src="{{column.image_url}}" class="pull-left" width="16" ng-if="column.image_url">
            {{column.title}}
          </a>
        </li>
      </ul> 
    </div>
  </div>
</div>