<%= partial 'subheader' %>

<div class="content" style="top:100px;bottom:50px;">

	<div class="list">
		<a class="item item-thumbnail-left" style="padding-top:36px;" ng-repeat="drug in data.data" href="#/detail/drugs/drugs/{{drug.id}}">
			<img ng-src="{{drug.image_url}}" style="top:36px;">
			<p style="position:absolute;top:10px;left:10px;">{{drug.name}}</p>
			<p>功能主治：{{drug.spec}}</p>
			<p>规格：{{drug.spec}}</p>
			<p>药店数量：{{drug.drugstore_count}}</p>
			<p>生产厂家：{{drug.manufactory}}</p>
			<p>参考价格：{{drug.ori_price}}</p>
		</a>
	</div>

	<button class="button button-block button-balanced" ng-click="loadMore()" ng-show="moreData">
	 查看更多
	</button>

</div>


