<%= partial 'subheader' %>
<%= partial 'error_check' %>

<div class="content" style="top:100px;bottom:50px;">

<div class="list">
	<a class="item item-thumbnail-left" style="padding-top:36px;" ng-repeat="drug in data.data" href="#/list/drugs/drugs?drug={{drug.name}}">
		<img ng-src="{{drug.image_url}}" style="top:36px;">
		<p style="position:absolute;top:10px;left:10px;">
			{{drug.name}}
			<span ng-class="{'otc otc-red': drug.is_otc == '1', 'otc otc-green': drug.is_otc == '2' || drug.is_otc == '3'}">
				{{drug.is_otc | otcLogo}}
			</span>
		</p>
		<p>规格：{{drug.spec}}</p>
		<p>批号：<span class="green">{{drug.code}}</span>		</p>
		<p>厂家：{{drug.factory_count}}</p>
		<p>价格：<span class="price-color">￥{{drug.factory_price_scope}}</span></p>
	</a>
</div>

<button class="button button-block button-balanced" ng-click="loadMore()" ng-show="moreData">
 查看更多
</button>
</div>



<!-- <div class="row" style="padding-bottom:0">
	<div class="col" style="padding-bottom:0;padding-top: 0px;">
		<div class="list" style="padding-bottom:0">

	    <a class="item item-thumbnail-left" href="javascript:;" style="padding-bottom:0">
	      <img ng-src="{{data.image_url}}">
	      <ul class="list-cont">
			    <li class="text-overflow">功能主治：{{data.introduction}}</li>
			    <li>
			      规格：{{data.spec}}
			    </li>
			    <li>
			      厂商：{{data.manufactory}}
			    </li>
			    <li>
			      参考价格：<span class="price-color" style="border:none;background-color: #FFF;color: #DC143C">￥{{data.sale_price}}元</span>
			    </li>

			  </ul>
	    </a>

		</div>
	</div>
</div> -->

<!-- <div class="row" >
	<div class="col" style="padding-bottom:0">
		<p class="gray-line-1"></p>
		<ul class="font-14 list-bottom">
		  <li class="circle" ng-class="{dot: data.drug_sevice_list.cfy}">
		    处方药
		  </li>
		  <li class="circle" ng-class="{dot: data.drug_sevice_list.xy}">
		    西药
		  </li>
		  <li class="circle" ng-class="{dot: data.drug_sevice_list.ybdd}">
		   医保定点
		  </li>

		</ul>
	</div>
</div> -->
