<%= partial 'subheader' %>

<div class="content" style="top:100px;bottom:50px;">

	<div class="list">
		<a class="item item-thumbnail-left" style="padding-top:36px;" ng-repeat="drug in data.data" ng-click="linkToDrugDetail(drug.id)">
			<img ng-src="{{drug.image_url}}" style="top:36px;">
			<p style="position:absolute;top:10px;left:10px;">
				{{drug.name}}
				<span ng-class="{'otc otc-red': drug.is_otc == '1', 'otc otc-green': drug.is_otc == '2' || drug.is_otc == '3'}">
				{{drug.is_otc | otcLogo}}
				</span>
			</p>
			<p>功能主治：{{drug.introduction}}</p>
			<p>规格：{{drug.spec}}</p>
			<p>药店数量：{{drug.drugstore_count}}</p>
			<p ng-click="linkToManufactory(drug.manufactory_id);$event.stopPropagation();">生产厂家：<span style="text-decoration: underline;font-size: 1.2em;">	{{drug.manufactory}}</span>	 </p>
			<p>参考价格：<span class="price-color">￥{{drug.price}}</span></p>
		</a>
	</div>

	<button class="button button-block button-balanced" ng-click="loadMore()" ng-show="moreData">
	 查看更多
	</button>

</div>


