<div class="row">
  <div class="col">
    <a class="list-title" ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="list">
      <a class="item item-thumbnail-left" href="javascript:;">
        <img ng-src="{{data.image_url}}">
        <ul class="list-cont">
          <li class="text-overflow">功能主治：{{data.introduction}}</li>
          <li>
            规格：{{data.spec}}
          </li>
          <li>
            共成产厂家：{{ data.count || 12 }}
          </li>
          <li>
            参考价格：<span class="price-color" style="border:none;background-color: #FFF;color: #DC143C">￥{{data.sale_price}}元</span>
          </li>
        </ul>
      </a>
      <div class="more-detail">
        <a ng-href="#/list/drugs/drugs?title={{data.<%= defined?(title) ? title : :name %>}}">查看详情</a>
      </div>
    </div>
  </div>
</div>
