<div class="media-body">

  <ul class="list-cont">
    <li>科室：{{data.hospital_room_name}}</li>
    <li class="text-overflow">
      擅长：
    </li>
    <li>
      医院：{{data.hospital_name}}
      <span class="pull-right price-color" style="color:#fff">挂号</span>
    </li>
    <li>
      出诊：
    </li>
  </ul>
  
</div>                                                         
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li class="circle" ng-class="{dot: data.doctor_sevice_list.zxzx}">
   在线咨询
  </li>
  <li class="circle" ng-class="{dot: data.doctor_sevice_list.yjzx}">
   邮件咨询
  </li>
  <li class="circle" ng-class="{dot: data.doctor_sevice_list.sjgh}">
    手机挂号/查询
  </li>
</ul>


