<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a> 
    <span>{{data.position}}</span> 
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1 >
    <span style="color: #ffd700">★★★★★</span>   5分 
    <span class="pull-right">挂号</span></h1>
  <h1>
    <span>科室：{{data.hospital_room_name}}</span>
  </h1>
  <h1>
    <span>擅长：中医治疗肿瘤，更年期综合征，糖尿病，胃病等</span>
  </h1>
  <h1>
    <span>医院：{{data.hospital_name}}</span>
  </h1>
  <h1>
  	<span>出诊：星期二上午，星期五下午</span>
  </h1>
  
</div>                                                         
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span class="gr-dian">● </span> 在线咨询  <span class="circle">○</span> 邮件咨询  <span class="circle">○</span>  手机挂号/查询
</p>


