<div class="media-body">

  <ul style="line-height: 30px;">
    <li>科室：{{data.hospital_room_name}}</li>
    <li class="text-overflow">
      擅长：中医治疗肿瘤，更年期综合征，糖尿病，胃病等
    </li>
    <li>
      医院：{{data.hospital_name}}
      <span class="pull-right price-color" style="color:#fff">挂号</span>
    </li>
    <li>
      出诊：星期二上午，星期五下午
    </li>
  </ul>
  
</div>                                                         
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span class="gr-dian">● </span> 在线咨询  <span class="circle">○</span> 邮件咨询  <span class="circle">○</span>  手机挂号/查询
</p>


