<div class="media-body">
  <ul class="list-cont">
    <li class="text-overflow">功能主治：{{data.introduction}}</li>
    <li>
      规格：{{data.spec}}
    </li>
    <li>
      厂商：{{data.brand}}
       <span class="pull-right price-color" style="border:none;background-color: #FFF;color: #DC143C">￥{{data.sale_price}}元</span>
    </li>

  </ul>

</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li>
    <span class="gr-dian">●  </span>处方药 
  </li>
  <li>
    <span class="circle">○</span>西药
  </li>
  <li>
    <span class="circle">○</span> 医保定点
  </li>
  <li>
    <span class="circle">○</span> 在线支付
  </li>
  <li>
    <span class="circle">○</span> 当面支付
  </li>
        
</ul>