<div class="media-body">
  <ul class="list-cont">
    <li class="text-overflow">功能主治：{{data.introduction}}</li>
    <li>
      规格：{{data.spec}}
    </li>
    <li>
      厂商：{{data.brand}}
       <span class="pull-right price-color" style="border:none;background-color: #FFF;color: #DC143C">￥{{data.sale_price}}元</span>
    </li>

  </ul>

</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li class="circle" ng-class="{dot: data.drug_sevice_list.cfy}">
    处方药 
  </li>
  <li class="circle" ng-class="{dot: data.drug_sevice_list.xy}">
    西药
  </li>
  <li class="circle" ng-class="{dot: data.drug_sevice_list.ybdd}">
   医保定点
  </li>
        
</ul>