<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
    <span class="pull-right">{{data.sale_price}}元</span>
  </h1>
  	
  <h1>★★★★★   5分</h1>
  <h1>
    <span>功能主治：</span>{{data.introduction}}
    <span class="pull-right">已售{{data.sold_count || 0}}件</span>
  </h1>
  <h1>
    <span>牌价：</span>￥18元 
  </h1>
  <h1>
    <span>规格：</span>{{data.spec}}
  </h1>
  <h1>
  	<span>厂商：</span>{{data.brand}}hot
    <span class="pull-right">采购</span>
  </h1>
  <p style="height:1px;margin: 4px 0;border-top:1px dashed #000"></p>
  <h1 style="font-size: 12px;">
  	<input type="radio" checked>
  	处方药 
  	<input type="radio">
  	西药
    <input type="radio">
    医保定点
    <input type="radio">
    在线支付 
  	<input type="radio">
    当面支付
  </h1>
</div>