<div class="media-body">

  <ul class="list-cont">
    <li class="text-overflow">
      经营许可证：{{data.Business_License}}
    </li>
    <li>
      <span>药品：六味地黄丸</span>
    </li>
    <li>
      <span>参考价：</span><span style="color: #DC143C;">￥18元 </span>
    </li>
  </ul>
  
</div>
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span class="gr-dian">● </span> 医保   <span class="circle">○</span> 24小时   <span class="circle">○</span> 配送
</p>