<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>★★★★★   5分 <span class="pull-right">购买</span></h1>
  <h1>
    <span>药品：</span>六味地黄丸
  </h1>
  <h1>
  	<span>牌价：</span>￥18元 
  </h1>
  <p style="height:1px;margin: 4px 0;border-top:1px dashed #000"></p>
  <h1>
  	<input type="radio" checked>
  		医保  
  	<input type="radio">
  	24小时 
  	<input type="radio">
  	配送
  </h1>
</div>