<div class="media-body">

  <ul class="list-cont">
    <li class="text-overflow">
      <label>经营许可证：</label>
      {{data.Business_License}}
    </li>
    <li>
      <label>药品：</label>
    </li>
    <li>
      <label>参考价：</label><span style="color: #DC143C;"> </span>
    </li>
  </ul>
  
</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li class="circle" ng-class="{dot: data.drugstore_sevice_list.yb}">
    医保
  </li>
  <li class="circle" ng-class="{dot: data.drugstore_sevice_list.qt}">
    24小时
  </li>
  <li class="circle" ng-class="{dot: data.drugstore_sevice_list.ps}">
    配送
  </li>
        
</ul>