<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>★★★★★   5分 <span class="pull-right">购买</span></h1>
  <h1>
    <span>药品：六味地黄丸</span>
  </h1>
  <h1>
  	<span>牌价：￥18元 </span>
  </h1>
  
</div>
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span class="gr-dian">● </span> 医保   <span class="circle">○</span> 24小时   <span class="circle">○</span> 配送
</p>