<div class="media-body">
  <ul class="list-cont">
    <li>距离：{{$root.getDistance(data) | number:2}}千米 </li>
    <li class="text-overflow">
      特色科室：{{data.characteristic_departments}}
      
    </li>
    <li>
      <span>电话：{{data.telephone}}</span> 
      <!-- <span class="pull-right price-color" style="background-color: #E62418;color:#FFF">就诊查询／挂号</span> -->
    </li>
  </ul>

</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.yb}">
    医保 
  </li>
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.yywz}">
    医院网址 
  </li>
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.sjgh}">
    手机挂号/查询
  </li>

</ul>