<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>★★★★★   5分 <span class="pull-right">1098人浏览</span></h1>
  <h1>
  	<span>特色科室：</span> {{data.characteristic_departments}}
  </h1>
  <p style="height:1px;margin: 4px 0;border-top:1px dashed #000"></p>
  <h1>
  	<input type="radio" checked>
  		医保  
  	<input type="radio">
  	医院网址
  	<input type="radio">
  	手机挂号/查询
  </h1>
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>