<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>
    <span style="color: #ffd700">★★★★★</span>   5分 
    <span class="pull-right">1098人浏览</span>
  </h1>
  <h1>
    <span>距离：{{$root.getDistance(data) | number:2}}千米</span> 
  </h1>
  
  <h1>
    <span>特色科室：{{data.characteristic_departments}}</span> 
    <span class="pull-right price-color" style="color:#FFF">就诊查讯</span>
  </h1>
  <h1>
  	<span>电话：021-52889999</span> 
  </h1>
  
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
    <span class="gr-dian">●  </span>医保 
  <span class="circle">○</span> 医院网址 <span class="circle">○</span> 手机挂号/查询
</p>