<div class="media-body">
 <!--  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<span class="pull-right">更多>></span>
  </h1>
  <h1>
    <span style="color: #ffd700">★★★★★</span>   5分 
    <span class="pull-right price-color" style="color:#fff">查看详情</span>
  </h1> -->

  <ul class="list-cont">
    <li>距离：{{$root.getDistance(data) | number:2}}千米 </li>
    
  </ul>
  <!-- <h1>
    <span>距离：{{$root.getDistance(data) | number:2}}千米</span>
  </h1>
  <h1>
    <span>套餐：中老年防癌套餐</span> 
    <span>价值￥1178 </span>
    <span>￥576元</span>

  </h1>
  <h1>
  	<span>特色：感恩升级版 （节假日通用）</span> 
    <span>【两店通用】</span>
  </h1>
  <h1>
    <span>其他优惠：</span>
    <span>已售34</span>
  </h1> -->
  
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
    <span class="gr-dian">●  </span>体检机构 
  <span class="circle">○</span> 综合医院 <span class="circle">○</span> 网上预约/查询 <span class="circle">○</span> 电话预约
</p>