<div class="media-body">

  <ul style="line-height: 30px;" class="list-cont">
    <li class="text-overflow">
      产品特色：重疾保障金：返保费105%•特定部位原位癌：40000元，重大疾病保障涵盖30种疾病短投长保
    </li>
    <li>
      承保年龄:  18-50岁人群
      <span class="pull-right price-color" style="color:#fff">查看详情</span>
    </li>
    <li>
      保险期限： 20年
      <span class="pull-right price-color" style="border:none;background-color: #FFF;">已售{{data.sold_count || 0}}件 ≥ </span>
    </li>
  </ul>

  
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li>
    <span class="gr-dian">●  </span>意外医疗
  </li>
  <li>
    <span class="circle">○</span> 意外住院
  </li>  
  <li>
    <span class="circle">○</span> 重大疾病险
  </li>  
  <li>
    <span class="circle">○</span> 身故保险金
  </li>  
  <li>
    <span class="circle">○</span> 其他保障费用
  </li>  
    
</ul>
