<div class="media-body">

  <ul class="list-cont">
    <li>
      距离：{{$root.getDistance(data) | number:2}}千米
      <span class="pull-right price-color" style="color:#fff">查看详情</span>
    </li>
    <li class="text-overflow">
      特色：集孕期、产后、婴儿、幼儿的综合服务机构
    </li>
    <li>
      <span>产品：小鹿叮叮 十片试用装 </span>
    </li>

  </ul>
  
</div>
<p class="gray-line-1"></p>
<ul class="font-14 list-bottom">
  <li>
    <span class="gr-dian">●  </span>资质
  </li>
  <li>
    <span class="circle">○</span>在线咨询 
  </li>
  <li>
    <span class="circle">○</span> 连锁机构
  </li>

  
   
</ul>

