<div class="media-body">

  <ul class="list-cont">
    <li>距离：{{$root.getDistance(data) | number:2}}千米</li>
    <li>
      床 位：420张
    </li>
    <li>
      收住对象：自理 半自理 全护理  特护
    </li>
    <li>
     收费标准： 
     <span class="price-color pull-right" style="border:none;background-color: #fff; color: #DC143C">￥560-1500/月</span>
    </li>
    <li>
      特色服务：可接收异地老人
    </li>
  </ul>
  
</div> 
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span class="gr-dian">● </span> 公办   
  <span class="circle">○</span> 民办  
  <span class="circle">○</span>养老公寓  
  <span class="circle">○</span> 养老院
</p>                                                        
