<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>★★★★★   5分 <span class="pull-right">14652浏览 ≥ </span></h1>
  <h1>
    <span>床 位：</span>420张
  </h1>
  <h1>
    <span>收住对象：</span>自理 半自理 全护理  特护
  </h1>
  <h1>
    <span>收费标准：</span>￥560-1500/月
  </h1>
  <h1>
  	<span>特色服务：</span>可接收异地老人
  </h1>
  <p style="height:1px;margin: 4px 0;border-top:1px dashed #000"></p>
  <h1>
  	<input type="radio" checked>
  		公办 
  	<input type="radio">
  	民办
  	<input type="radio">
  	养老公寓 
  	<input type="radio">
  	养老院
  </h1>
</div>                                                         
