<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  	<!-- <span class="pull-right">更多>></span> -->
  </h1>
  <h1>
    <span style="color: #ffd700">★★★★★</span>   5分 
    <span class="pull-right">14652浏览 ≥ </span></h1>
  <h1>
    <span>床 位：420张</span>
  </h1>
  <h1>
    <span>收住对象：自理 半自理 全护理  特护</span>
  </h1>
  <h1>
    <span>收费标准：￥560-1500/月</span>
  </h1>
  <h1>
  	<span>特色服务：可接收异地老人</span>
  </h1>
  
</div> 
<p class="gray-line-1" style="margin-bottom: 4px;"></p>
<p class="font-14">
  <span>● </span> 公办   <span class="circle">○</span> 民办  <span class="circle">○</span>养老公寓   <span class="circle">○</span> 养老院
</p>                                                        
