<nav class="navbar navbar-default navbar-fixed-bottom custom-footer">
  <div>
    <ul class="nav">
      <li class="tab-item">
        <a href="/"><span class="glyphicon glyphicon-home"></span>首页</a>
      </li>
      <li class="tab-item">
        <a href="/accounts/mine"><span class="glyphicon glyphicon-book"></span>我的个人定制</a>
      </li>
    </ul>
  </div>
</nav>
