<nav class="navbar navbar-default navbar-fixed-top custom-header">
  <div class="container">
    <div class="header-image"><%= image_tag "health.gif" %></div>
    <div class="btn-group">
      <span class="glyphicon glyphicon-align-justify dropdown-toggle hamburger" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
      <ul class="dropdown-menu">
        <li><a href="#">test</a></li>
      </ul>
    </div>
  </div>
</nav>
