<nav class="navbar navbar-default navbar-fixed-top custom-header">
  <div class="container">
    <div class="header-image"><%= image_tag "health.gif" %></div>
    <!-- <div class="dropdown hamburger-wrapper">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li>kakkak</li>
      </ul>
    </div> -->
  </div>
</nav>
