<div class="content-padded">
  <h4>低于指定价格时您将收到降价通知</h4>
  <form class="price-notification" ng-controller="FormCtrl" ng-submit="submit(priceNotificationUrl, {price: price}, priceNotificationCallback)" name="form">
    <input type="text" placeholder="价格（元）" ng-model="price">
    <button class="btn btn-block">降价通知</button>
  </form>
</div>
