<div class="content-padded">
  <form class="review" ng-controller="FormCtrl" ng-submit="submit(reviewUrl, {review: data}, reviewCallback)" name="form">
    <div stars="data.star" clickable="true" class="stars"></div>
    <textarea placeholder="评价详情" rows="4" ng-model="data.desc"></textarea>
    <button class="btn btn-large btn-block">提交评价</button>
  </form>
</div>
