<div class="media-body">
  <img ng-src="{{data.image_url}}" class="pull-left" width="16" ng-if="column.image_url">
  <h1>{{data.<%= defined?(title) ? title : :name %>}}→更多信息</h1>
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>