<div class="row">
	<div class="col">
		<a class="list-title" ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
	  <p class="pull-right">
	  	<span style="color: #ffd700">★★★★★</span>   5分
	  </p>
	</div>
</div>