<div class="media-detail">
  <p>{{data.hospital_onsales[0].name}}</p>
  <!-- <strong>{{data.star | number:1}}</strong> -->
  <p class="pull-right" ng-if="$root.coords">{{$root.getDistance(data) | number:2}}千米</p>
</div>