<!-- <div id="slides" class="slider-type">
  <div class="slider-all">
    <h1>{{data.name_show || data.name}}</h1>
    <div ng-repeat="menus in data.menus">
      <ul><a>{{menus.name}}</a></ul>
      <ul>
        <li ng-repeat="menu in menus.content">
          <a href="">{{menu.name}}</a>
        </td>
      </ul>
    </div>
  </div>
</div> -->
<div id="slides" class="slider-type">
  <div class="slider-all">
    <h1 style="margin-top: 0px;">
      <img src="images/icons/3-1.gif">
      热门 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td><a href="#list/">手机挂号</a></td>
        <td><a href="#list/">月子中心</a></td>
        <td><a>母婴会馆</a></td>
      </tr>
      <tr>
        <td><a href="#list/hospitals/tests?examination_type=1 ">体检团购</a></td>
        <td><a>整形团购</a></td>
        <td><a>疾病保险</a></td>
      </tr>
      <tr>
        <td><a>牙科团购</a></td>
        <td><a>最新优惠</a></td>
        <td><a>养老保险</a></td>
      </tr>
      <tr>
        <td><a>特色科室</a></td>
        <td><a>诊疗攻略</a></td>
        <td><a>代金券</a></td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-1.png">
      医院大全 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td><a href="#list/hospitals/polyclinics">综合医院</a></td>
        <td><a href="#list/">全国体检</a></td>
        <td><a>整形医院</a></td>
      </tr>
      <tr>
        <td><a href="#list/hospitals/gynaecologies">妇幼医院</a></td>
        <td><a href="#list/hospitals/dentals">牙科医院</a></td>
        <td><a href="#list/hospitals/tcm">中医医院</a></td>
      </tr>
      <tr>
        <td> <a href="#list/hospitals/andrologies">男科医院</a></td>
        <td><a>外资医院</a></td>
        <td><a>社区医院</a></td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-2.png">
      查疾病 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td><a href="#list/diseases/diseases?search_by=hospital_room">科室查疾病</a></td>
        <td><a href="#list/diseases/diseases?search_by=symptom">症状查疾病</a></td>
        <td><a href="#list/diseases/diseases?search_by=alphabet">字母查疾病</a></td>
      </tr>
      <tr>
        <td><a href="#list/diseases/diseases?search_by=common_disease">常见病查疾病</a></td>
        <td><a href="#list/diseases/diseases?search_by=disease_type">病理查疾病</a></td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-3.png">
      找医生 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#list/hospitals/all?search_by=hospital">医院找医生</a>
        </td>
        <td>
          <a href="#list/hospitals/all?search_by=hospital_room">科室找医生</a>
        </td>
        <td>
          <a href="#list/hospitals/all?search_by=hospital_room">疾病找医生</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/hospitals/all?search_by=alphabet">字母找医生</a>
        </td>
        <!-- <td>
          <a href="#list/favorites">找专家医生攻略</a>
        </td> -->
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-5.png">
      药品大全 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#list/drugs/drugs?search_by=disease">疾病查药品</a>
        </td>
        <td>
          <a href="#list/drugs/drugs?search_by=alphabet">字母查药品</a>
        </td>
        <td>
          <a href="#list/drugs/manufactories">药企查药品</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=3">医保定点药品</a>
        </td>
        <td>
          <a href="#list/drugs/drugs?search_by=disease">买药攻略</a>
        </td>
        <td>
          <a href="#list/drugs/drugs?search_by=disease">最新药品</a>
        </td>
      </tr>
    </table>
      
    <h1>
      <img src="images/icons/1-6.png">
      身边药店 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#list/drugs/drugstores?search_by=alphabet">字母找药店</a>
        </td>
        <td>
          <a href="#list/drugs/drugstores?search_by=map">地图找药店</a>
        </td>
        <td>
          <a href="#list/social_securities/social_securities??social_security_type=4">医保定点药店</a>
        </td>
      </tr>
      <tr>
        <td>
           <a href="#list/drugs/drugstores?search_by=disease">24小时药店查询</a>
        </td>
        <td>
           <a>最新药店</a>
        </td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/2-4.gif">
      医保查询 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=1">医保查询</a>
        </td>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=2">定点医院查询</a>
        </td>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=3">定点药品查询</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=4">定点药店查询</a>
        </td>
        <!-- <td>
          <a href="#list/social_securities/social_securities?social_security_type=1">健康险攻略</a>
        </td> -->
        <td>
         <a>健康险购买攻略</a>
        </td>
      </tr>
      <tr>
        <td>
         <a>最新健康险</a>
        </td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-4.png">
      诊疗攻略 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#/list/hospitals/polyclinic_charges?type=price_search">综合医院价格攻略</a>
        </td>
        <td>
          <a href="#/list/examinations/examinations">全国体检价格攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_types?hospital_parent_type=2">整形价格攻略</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/hospitals/hospital_types?hospital_parent_type=6">牙科价格攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_types?hospital_parent_type=5">妇科价格攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_types?hospital_parent_type=1">男科价格攻略</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/hospitals/hospital_types?hospital_parent_type=4">中医价格攻略</a>
        </td>
        <td>
          <a href="#list/drugs/drugs">药品价格查询</a>
        </td>
        <td>
          <a href="#list/insurances/insurances">疾病保险价格查询</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/insurances/insurances">养老保险价格查询</a>
        </td>
        <td>
          <a href="#list/maternals/confinement_centers">月子中心价格查询</a>
        </td>
        <td>
          <a href="#list/maternals/maternal_halls">母婴会馆价格查询</a>
        </td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-9.gif">
      就诊攻略 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a>三甲医院就诊攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_news?hospital_type=2">整形外科就诊攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_news?hospital_type=6">牙科就诊攻略</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#list/hospitals/hospital_news?hospital_type=5">妇科就诊攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_news?hospital_type=3">健康体检攻略</a>
        </td>
        <td>
          <a href="#list/hospitals/hospital_news?hospital_type=1">男科就诊攻略</a>
        </td>
      </tr>
      <tr>
        <td>
          <a>找专家医生攻略</a>
        </td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/1-7.png">
      养老服务 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td>
          <a href="#list/eldercares/nursing_rooms">养老公寓</a>
        </td>
        <td>
          <a href="#list/social_securities/social_securities?social_security_type=5">养老保险（社保）查询</a>
        </td>
        <td>
          <a href="#list/insurances/insurances">养老保险（商业）购买攻略</a>
        </td>
      </tr>
      <tr>
        <td>
          <a>养老保险（商业）查询</a>
        </td>
        <td>
          <a>最新养老保险</a>
        </td>
      </tr>
    </table>

    <h1>
      <img src="images/icons/3-5.gif">
      会员服务 ————————————————————————————————————
    </h1>
    <table class="gridtable">
      <tr>
        <td><a>会员福利</a></td>
        <td><a>免费服务体检</a></td>
        <!-- <td><a>国家专家查询</a></td> -->
        <td><a>降价通知</a></td>
      </tr>
      <tr>
        
      </tr>
    </table>
  </div>
  <div class="hd">
      <ul></ul>
  </div>
</div>