<!-- <div id="slides" class="slider-type">
  <div class="slider-all">
    <h1>{{data.name_show || data.name}}</h1>
    <div ng-repeat="menus in data.menus">
      <ul><a>{{menus.name}}</a></ul>
      <ul>
        <li ng-repeat="menu in menus.content">
          <a href="">{{menu.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div id="slides" class="slider-type">
        <div class="slider-all">
            <ul>热门</ul>
            <ul class="sub-menus-ul">
                <li><a>手机挂号</a></li>
                <li><a>热门月子中心</a></li>
               <li><a>热门母婴会馆</a></li>
                <li><a>返利优惠</a></li>
                <li><a>热门体检</a></li>
                <li><a>热门整形</a></li>
                <li><a>热门男科</a></li>
                <li><a>热门妇科</a></li>
                <li><a>热门药店</a></li>
                <li><a>热门医院</a></li>
                <li><a>热门药品</a></li>
                <li><a>热门健康险</a></li>
                <li><a>热门牙科</a></li>
                <li><a>热门中医</a></li>
                <li><a>热门养老保险</a></li>
                <li><a>代金券</a></li>
                <li><a>特色科室</a></li>
            </ul>
            <ul>医院大全</ul>
            <ul class="sub-menus-ul">

                <li><a>综合医院</a></li>
                <li><a>全国体检</a></li>
                <li><a>整形医院</a></li>
                <li><a>男科医院</a></li>
                <li><a>妇幼医院</a></li>
                <li><a>牙科医院</a></li>
                <li><a>中医医院</a></li>
                <li><a>外资医院</a></li>
                <li><a>最新医疗机构</a></li>
            </ul>
            <ul>查疾病</ul>
            <ul class="sub-menus-ul">
                <li><a>科室查疾病</a></li>
                <li><a>症状查疾病</a></li>
                <li><a>字母查疾病</a></li>
                <li><a>常见病查疾病</a></li>
                <li><a>病理查疾病</a></li>
            </ul>
            <ul>找医生</ul>
            <ul class="sub-menus-ul">

                <li><a>医院找医生</a></li>
                <li><a>科室找医生</a></li>
                <li><a>疾病找医生</a></li>
                <li><a>字母找医生</a></li>
                <li><a>找专家医生攻略</a></li>
            </ul>
           <ul>药品大全</ul>
            <ul class="sub-menus-ul">
                <li><a>疾病查药品</a></li>
                <li><a>字母查药品</a></li>
                <li><a>药企查药品</a></li>
                <li><a>医保定点药品</a></li>
                <li><a>买药攻略</a></li>
                <li><a>最新药品</a></li>
            </ul>
            <ul>身边药店</ul>
            <ul class="sub-menus-ul">
                <li><a>字母找药店</a></li>
                <li><a>地图找药店</a></li>
                <li><a>医保定点药店</a></li>
                <li><a>24小时药店查询</a></li>
                <li><a>最新药店</a></li>
            </ul>
            <ul>医保查询</ul>
            <ul class="sub-menus-ul">
                <li><a>医保查询</a></li>
                <li><a>定点医院查询</a></li>
                <li><a>定点药店查询</a></li>
                <li><a>定点药店查询</a></li>
                <li><a>健康险攻略</a></li>
                <li><a>健康险购买攻略</a></li>
                <li><a>最新健康险</a></li>
            </ul>
            <ul>价格搜索</ul>
            <ul class="sub-menus-ul">
                <li><a>综合医院价格攻略</a></li>
                <li><a>全国体检价格攻略</a></li>
                <li><a>整形价格攻略</a></li>
                <li><a>牙科价格攻略</a></li>
                <li><a>妇科价格攻略</a></li>
                <li><a>男科价格攻略</a></li>
                <li><a>中医价格攻略</a></li>
                <li><a>药品价格查询</a></li>
                <li><a>健康保险价格查询</a></li>
                <li><a>养老保险价格查询</a></li>
                <li><a>月子中心价格查询</a></li>
                <li><a>母婴会馆价格查询</a></li>
                <li><a>返利优惠</a></li>
                <li><a>代金券</a></li>
            </ul>
            <ul>就诊攻略</ul>
            <ul class="sub-menus-ul">
                <li><a>三甲医院就诊攻略</a></li>
                <li><a>整形外科就诊攻略</a></li>
                <li><a>牙科就诊攻略</a></li>
                <li><a>妇科就诊攻略</a></li>
                <li><a>健康体检攻略</a></li>
                <li><a>男科就诊攻略</a></li>
                <li><a>找专家医生攻略</a></li>
            </ul>
            <ul>养老服务</ul>
            <ul class="sub-menus-ul">
                <li><a>养老公寓</a></li>
                <li><a>养老保险（社保）查询</a></li>
                <li><a>养老保险（商业）购买攻略</a></li>
                <li><a>养老保险（商业）查询</a></li>
                <li><a>最新养老保险</a></li>
            </ul>
            <ul>会员服务</ul>
            <ul class="sub-menus-ul">
                <li><a>会员福利</a></li>
                <li><a>国家专家查询</a></li>
                <li><a>降价通知</a></li>
                <li><a>免费服务体检</a></li>
            </ul>
        </div>
    <div class="hd">
            <ul></ul>
        </div>
</div>