<div class="alert ng-hide" ng-cloak ng-show="alert.show" ng-class="alert.type ? 'alert-'+alert.type : 'alert-info'">
  <span class="close ionicon ion-close" ng-click="alert.close()"></span>
  <p ng-if="alert.message" ng-bind="alert.message"></p>
  <ul ng-if="alert.messages">
    <li ng-repeat="message in alert.messages">{{message}}</li>
  </ul>
</div>