<footer class="footer" ng-hide="footerHide">
	<menu class="footer-con">
    <ul class="fix">
      <li class="zx"><a href="#/home">首页</a></li>
      <li class="tel"><a href="#">微整容</a></li>
      <li class="yy"><a href="#">发现</a></li>
      <li class="dh"><a href="#">保健篮</a></li>
			<li class="dq"><a href="#">我的健康本</a></li>
    </ul>
	</menu>
</footer>
<!-- <div class="tabs tabs-icon-top">
  <a href="#/home" class="tab-item">
    <i class="icon ion-home"></i>
    首页
  </a>
  <a href="#/consult" class="tab-item">
    <i class="icon ion-ios-cart-outline"></i>
    免费咨询
  </a>
  <a href="#/appointment" class="tab-item">
  	<i class="icon ion-ios-person"></i>
    预约检查
  </a>
</div> -->