<footer class="bar bar-tab" ng-controller="FooterCtrl">
  <a class="tab-item" href="#/home" ng-class="{ active: active('/home', '/') }">
    <span class="ionicon ion-home1">
      <img src="images/ico-home1.png" width="25"/>
    </span>
    <span class="tab-label">首页</span>
  </a>
  <a class="tab-item" href="#/list/favorites" ng-class="{ active: active('/list/favorites', '/login/list/favorites') }">
    <span class="ionicon ion-star1">
      <img src="images/ico-yy.png" width="25"/>
    </span>
    <span class="tab-label">微整容</span>
  </a>
  <a class="tab-item" href="#/list/favorites" ng-class="{ active: active('/list/favorites', '/login/list/favorites') }">
    <span class="ionicon ion-star1">
      <img src="images/ico-mess.png" width="25"/>
    </span>
    <span class="tab-label">发现</span>
  </a>
  <a class="tab-item" href="#/list/favorites" ng-class="{ active: active('/list/favorites', '/login/list/favorites') }">
    <span class="ionicon ion-star1">
      <img src="images/ico-tel2.png" width="25"/>
    </span>
    <span class="tab-label">保健蓝</span>
  </a>
  <a class="tab-item" href="#/list/favorites" ng-class="{ active: active('/list/favorites', '/login/list/favorites') }">
    <span class="ionicon ion-star1">
      <img src="images/ico-nav2.png" width="25"/>
    </span>
    <span class="tab-label">我的健康本</span>
  </a>
  <!-- <a class="tab-item" href="#/list/favorites" ng-class="{ active: active('/list/favorites', '/login/list/favorites') }">
    <span class="ionicon ion-star">
      <img src="images/ico-star.png" />
    </span>
    <span class="tab-label">收藏</span>
  </a>
  <a class="tab-item" href="#/search" ng-class="{ active: active('/search') }">
    <span class="ionicon ion-search"></span>
    <span class="tab-label">搜索</span>
  </a>
  <a class="tab-item" href="#/login/more" ng-click="loginByWB()" ng-class="{ active: active('/more', '/login/more') }">
    <span class="ionicon ion-more"></span>
    <span class="tab-label">更多</span>
  </a> -->
</footer>