<header class="bar bar-nav">
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title"><%= title %></h1>
  <a class="react action pull-right" href="#/search">
    <span class="ionicon ion-search">
  </a>
</header>
