<div style="">
<header class="bar bar-nav" style="position:relative">

  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title" style="margin:0;font-size:22px;">{{ title || data['title'] || data['name']}}</h1>
  <a class="react pull-right" ng-click="$root.popover.toggle()" ng-if="data['subtitle']" style="position:absolute;top:0;right:10px;font-size:16px">
    {{ $root.popover.title || data['subtitle'].title }}
    <span ng-class="$root.popover.show ? 'ion-arrow-down-b' : 'ion-arrow-up-b'" class="ion-arrow-up-b"></span>
  </a>
  <a href="#/search" class="pull-right" style="margin-right:25px;position:absolute;top:0;right:55px;font-size:16px">
  	<img src="images/topserch.png"> 
  </a>
</header>
<nav popover="data['subtitle']"></nav>

<nav ng-class="{'bar bar-header-secondary filters': data['filters']}" filter filter-data="data['filters']" ng-show="data['filters']">
</nav>
</div>
