
<div ng-view class="main"></div>

<%#= partial 'header_background' %>
<%= partial 'footer' %>
<%= partial 'alert' %>
<%#= partial 'modal' %>
<div id="loading_div">
  <div class="ajax-loader">
    <img src="images/loading_spinner.gif"/>
    <span>正在加载...</span>
  </div>
</div>
