<div class="list-top">
  <a class="list-title" ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  <!-- <span class="pull-right">更多>></span> -->
  <p class="pull-right">
  	<span style="color: #ffd700">★★★★★</span>   5分
  </p>
</div>
<%#= partial 'templates/lists/body' %>
<%#= partial 'templates/lists/marking' %>
<img class="media-object pull-left height-auto" ng-src="{{data.image_url}}">
<%= partial 'partial/body/confinement_center', locals: { subtitle: :position } %>