<%= partial 'header', locals: { title: "{{ symptoms.name }}" } %>
<div id="symptoms_detail">
  <ul>
    <li>
      <div class="fl symptom-title">
        <h1>相关检查</h1>
      </div>
      <div class="fl related-content">
        <a href="#" ng-repeat="xgjc in symptoms.xgjc">{{ xgjc }}</a>
      </div>
    </li>
    <li>
      <div class="fl symptom-title">
        <h1>相关疾病</h1>
      </div>
      <div class="fl related-content">
        <a href="#" ng-repeat="xgjb in symptoms.xgjb">{{ xgjb }}</a>
      </div>
    </li>
    <li>
      <div class="fl symptom-title">
        <h1>相关药品</h1>
      </div>
      <div class="fl related-content">
        <a href="#" ng-repeat="xgyp in symptoms.xgyp">{{ xgyp }}</a>
      </div>
    </li>
    <li>
      <div class="fl symptom-title">
        <h1>相关症状</h1>
      </div>
      <div class="fl related-content">
        <a href="#" ng-repeat="xgzz in symptoms.xgzz">{{ xgzz }}</a>
      </div>
    </li>
  </ul>

  <div class="symptoms">
    <ul ng-if="symptoms.symptom_details.length > 1">
      <li ng-repeat="detail in symptoms.symptom_details" toggle>
        <strong>{{ detail.title }}</strong>
        <div class="box">
          <a href="javascript:;">{{ detail.detail }}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
