<%= partial 'header', locals: { title: "{{ title }}" } %>
<div id="symptoms_detail">
  <ul>
    <li>
      <div class="fl symptom-title">
        <h1>相关检查</h1>
      </div>
      <div class="fl related-content">
        <a href="#">{{ symptoms.symptom.xgjb }}</a>
      </div>
    </li>
    <li>
      <div class="fl symptom-title">
        <h1>相关疾病</h1>
      </div>
      <div class="fl related-content">
        <a href="#">{{ symptoms.symptom.xgjb }}</a>
      </div>
    </li>
    <li>
      <div class="fl symptom-title">
        <h1>相关药品</h1>
      </div>
      <div class="fl related-content">
        <a href="#">{{ symptoms.symptom.xgyp }}</a>
      </div>
    </li>
  </ul>

  <div class="symptoms">
    <ul ng-if="symptoms.details.length > 1">
      <li ng-repeat="detail in symptoms.details" toggle>
        <strong>{{ detail.title }}</strong>
        <div class="box">
          <a href="javascript:;">{{ detail.detail }}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
