<%= partial 'templates/details/header' %>

<div class="content">
  <div class="list" drop-down>
    <div class="item" ng-repeat="type in data.disease_details">
      <p ng-click="showDoctors($index)">
        <i class="ion-chevron-down" style="float:right"></i>
        {{type.title}}
      </p>
      <div ng-show="ifShow[$index]" style="margin-top: 10px;white-space: normal;">
        <pre>{{type.detail}}</pre>
      </div>
    </div>
  </div>
</div>

