<%= partial 'subheader',local: { title: "团购优惠"} %>
<div class="content" style="top:50px">
	<div class="list">
		<a class="item" ng-repeat="charge in data.data" href="#/privileges/hospital_types/hospital_charges/{{charge.id}}/hospital_onsales">
			 {{charge.name}}
		</a>

	</div>
</div>