.videos{
  margin-top: 70px;
  .video{
    width: 100%;
    border-bottom: 10px solid #E0D7D7;
    .video-detail{
      margin-left: 10px;
      .album-name{

      }
      .time-about{
        color: #B7B3B3;
        .spent-time{
          margin-right: 10px;
        }
        .create-time{

        }
      }
    }
  }
  .paginate-wrapper{
    margin-bottom: 100px;
  }
}
