<!DOCTYPE html>
<html>
<head>
  <title>TEST</title>
  <meta property="qc:admins" content="1303345235631376375636" />
  <meta property="wb:webmaster" content="f617a5bc81b0dfda" />
</head>
<body>

<%= account_omniauth_authorize_path(:weibo) %>

</body>
</html>