<div class="segmented-control">
  <div class="control-item" ng-repeat="data in filterData">
    <a ng-class="{active: currIndex == $index}" ng-click="toggle($index)">
      {{data.title}} {{data.current ? " - " + data.current : ""}}
      <span ng-class="{'ion-arrow-down-b': currIndex == $index, 'ion-arrow-up-b': currIndex != $index}"></span>
    </a>
  </div>
</div>
<div class="dropdown-menu card segmented-control" ng-show="currMenu">
  <div class="control-item">
    <ul class="table-view media huge">
      <li class="table-view-cell" ng-class="{'media-more': data.children, active: currSubIndex == $index}" ng-repeat="data in currMenu"><a ng-click="toggleMenu($index)">{{data.title}}</a></li>
    </ul> 
  </div>
  <div class="control-item secondary" ng-show="currSubMenu">
    <ul class="table-view media">
      <li class="table-view-cell" ng-repeat="data in currSubMenu"><a ng-click="toggleSubMenu($index)">{{data.title}}</a></li>
    </ul> 
  </div>
</div>
