<div class="backdrop ng-hide" ng-cloak ng-show="current.menu" ng-click="closeMenu()" style="z-index: -1"></div>
<div class="dropdown">
  <div class="segmented-control" style="top:0">
    <div class="control-item" ng-repeat="data in filterData">
      <a ng-class="{active: current.index == $index}" ng-click="toggleMenu($index, data)">
        {{current.titles[$index] || data.title}}
        <span ng-class="current.index == $index ? 'ion-arrow-down-b' : 'ion-arrow-up-b'"></span>
      </a>
    </div>
  </div>
  <div class="dropdown-menu card ng-hide" ng-cloak ng-show="current.menu">
    <div ng-include="templateUrl(current.menu)" ng-if="current.menu"></div>
  </div>
</div>
