<div class="card">
  <ul class="table-view media">

    <li class="table-view-cell media-title" ng-show="listTitle">
      {{listTitle}}
    </li>

    <li class="table-view-cell" ng-repeat="data in listData">
      <a ng-href="{{link(data)}}" class="react">
        <img class="media-object pull-left" ng-src="{{data.image_url}}">
        <div class="media-body">
          {{data.name}}
          <p>{{data.desc}}</p>
        </div>
        <div class="media-detail" ng-switch="data.type">
          <div ng-switch-when="hospital">
            综合评分
            <strong>{{data.rating}}</strong>
            <p class="pull-right">{{data.distance}}</p>
          </div>
          <div ng-switch-when="drug">
            <strong>{{data.sale_price}}</strong>元
            <del>{{data.ori_price}}元</del>
            <p class="pull-right">已售{{data.sold_count}}件</p>
          </div>
        </div>
      </a>
    </li>

    <li class="table-view-cell media-more" ng-show="listMore && listMoreLink">
      <a class="react" ng-href="{{listMoreLink}}">{{listMore}}</a>
    </li>

    <li class="table-view-cell media-load-more" ng-show="listLoadMore && $parent.loadMore">
      <a class="react" ng-click="$parent.loadMore()">{{listLoadMore}}</a>
    </li>

  </ul>
</div>