<div class="card">
  <ul class="table-view media">

    <li class="table-view-cell media-title" ng-show="listTitle">
      {{listTitle}}
    </li>

    <li class="table-view-cell media-content" ng-repeat="data in listData" ng-class="{last: listFin && $last}">
      <a ng-href="{{link(data)}}" class="react" ng-include="templateUrl(data)" ng-cloak>
      </a>
    </li>

    <li class="table-view-cell media-more" ng-show="listMore && listMoreLink">
      <a class="react" ng-href="{{listMoreLink}}">{{listMore}}</a>
    </li>

    <li class="table-view-cell media-load-more" ng-show="listLoadMore && $parent.loadMore && !listFin">
      <a class="react" ng-click="$parent.loadMore()">{{listLoadMore}}</a>
    </li>

  </ul>
</div>