<div class="popover dropdown ng-hide" ng-class="'popover-'+currMenus.length" ng-show="$root.popover.show" ng-cloak>
  <div class="dropdown-menu segmented-control">
    <div class="control-item" ng-repeat="(i, menu) in currMenus">
      <div class="dropdown-scroll">
        <ul class="table-view media huge">
          <li class="table-view-cell" ng-class="{'media-more': column.children || column.link, active: currIndexes[i] == j}" ng-repeat="(j, column) in menu"><a ng-click="column.children ? toggleColumn(i, j, column.children) : column.link ? toggleColumnLink(i, j, column) : redirectTo(column)">{{column.title}}</a></li>
        </ul> 
      </div>
    </div>
  </div>
</div>