<!-- <span class="ionicon ion-ios7-search-strong"></span> -->
<ul class="inline search-label" style="display:inline-block;background:#fff;margin:12px 0 0;font-size: 1.4em;color:#000;">
  <!-- <li class="active">医院</li>
  <li>医生</li>
  <li>症状</li>
  <li>疾病</li>
  <li>药品</li>
  <li>药企</li> -->
  <li ng-repeat="label in labels" ng-click="toggleLabel(label)" ng-class="{'active': label ==  current_label}">
    {{enOfzh[label]}}
  </li>
</ul>
<!-- <input class="search" type="text" placeholder="请输入您要搜索的内容" ng-model="query" ng-enter="search(query)" auto-focus style="margin:0px auto;"> -->
<input class="search" type="text" placeholder="{{placeholder}}" ng-model="query" auto-focus style="margin:0px auto;font-size:1.2em">

<ul style="max-height: 400px;background-color: #ccc;overflow-y: scroll;" class="resault-list">
	<li ng-repeat="resault in resault_list.data" class="">
		<a ng-href="{{link(resault)}}">{{resault.name}}  {{resault.hospital_name}}</a>
	</li>
	<!-- <li>北京医院</li>
	<li>上海医院</li>
	<li>杨二庄医院</li>
	<li>武安医院</li> -->


</ul>