<span class="ionicon ion-ios7-star" ng-repeat-n="star()"></span>
<span class="ionicon ion-ios7-star-half" ng-if="starHalf()"></span>
<span class="ionicon ion-ios7-star-outline" ng-repeat-n="starOutline()"></span>