<span class="ionicon ion-ios7-star" ng-repeat="index in star" ng-click="clickStar(index)"></span>
<span class="ionicon ion-ios7-star-half" ng-if="starHalf"></span>
<span class="ionicon ion-ios7-star-outline" ng-repeat="index in starOutline" ng-click="clickStar(index)"></span>
