<div class="card">
  <table class="table-view media">
    <tr ng-show="tableTitle">
      <td class="table-view-cell media-title" colspan="{{tablePer}}">
        {{tableTitle}}
      </td>
    </tr>

    <tr ng-repeat="rowData in tableRowData" ng-class="{last: tableFin && $last}">
      <td class="table-view-cell media-content" ng-repeat="data in rowData">
        <a ng-href="{{link(data)}}" class="react" ng-include="templateUrl(data)" ng-cloak></a>
      </td>
    </tr>

    <tr ng-show="tableMore && tableMoreLink">
      <td class="table-view-cell media-more" colspan="{{tablePer}}">
        <a class="react" ng-href="{{tableMoreLink}}">{{tableMore}}</a>
      </td>
    </tr>

    <tr ng-show="tableLoadMore && $parent.loadMore && !tableFin">
      <td class="table-view-cell media-load-more" colspan="{{tablePer}}">
        <a class="react" ng-click="$parent.loadMore()">{{tableLoadMore}}</a>
      </td>
    </tr>
  </table>
</div>