<%= partial 'templates/details/header' %>

<div class="content">

  <%= partial 'templates/details/album' %>

  <%#= partial 'templates/details/desc', locals: { price: true } %>

  <div class="card">
  <ul class="table-view media">
  	<li class="table-view-cell">
      <div class="media-detail">
      	
        <span class="pull-right btn-red">采购</span>
      </div>
      
    </li>
  	<li class="table-view-cell">
      <div class="media-detail">
      	价格：<i class="price">￥{{data.sale_price}}</i>元
        <span class="pull-right">已售{{data.count || 0}}</span>
      </div>
      
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <h4 class="fix">
          <span  class="pull-left" style="color: #ffd700">★★★★★5分</span>   
          <span class="pull-right">{{data.reviews_count}}人点评</span>
        </h4>
      </div>
      
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <ul class="inline border" style="text-align: justify;">
        	<% remarks = %i(疗效好 见效快 没副作用 效果一般 有副作用 见效慢) %>
        	<% remarks.each do |remark|%>
          <li><%=remark%></li>
          <%end%>
        </ul>
      </div>
    </li>
    <li class="table-view-cell">
    	<div class="media-detail">
        <p style="line-height:30px;border-bottom: 1px solid #000;">批准文号：{{data.code}}</p>
        <p style="line-height:30px;border-bottom: 1px solid #000;">保质期：{{data.expiry_date}}</p>
        <p style="line-height:30px;border-bottom: 1px solid #000;">药品概述：{{data.introduction}}</p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【参考价格】{{data.sale_price}}元
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【主要成分】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【功能主治】{{data.introduction}}
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【用法用量】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【包装规格】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【不良反应】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【注意事项】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【其他】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          【禁忌】
        </p>
        <p class="fix" style="line-height:30px;border-bottom: 1px solid #000;">
          /吃药提醒  <span style="color:red;">（免费下载使用）</span> <span style="color:blue;">专家温馨提示：</span>按时吃药有疗效 ！
        </p>
          
      </div>
    </li>
    <li class="table-view-cell">
    	<div class="media-detail">
        我要点评：
        <span style="color: #ffd700">★★★★★5分</span>
      </div>
    </li>
    
  </ul>
</div>
  <%#= partial 'templates/details/review' %>
  
  <%#= partial 'templates/details/detail', locals: { detail: :introduction } %>

  <div class="bg team">
    <div class="fix index-hd">
      <h3>猜你喜欢</h3>
    </div>
    <%= partial 'related' %> 
  </div>  

</div>
