<%= partial 'templates/details/header' %>
<div class="content" style="top:50px;">
<!-- <div class="clear"></div> -->
<div id="YaoDianBaoJia">
  <div class="topimg">
    <img ng-src="{{data.image_url}}" />
  </div>
  <div class="price">
    <h1>￥{{ data.ori_price }}</h1><span>已售{{data.count || 0}}份</span>
  </div>

  <div class="borderBottom10"></div>
  <div class="Buy">
    <a href="#">我要订购</a>
  </div>

  <ul class="list intro">
    <li class="item">
      <p style="font-size:1.4em;">品牌：{{data.brand}}</p>
      <p>厂家：{{data.manufactory}}</p>
      <p>批准文号：{{data.code}}</p>
      <p>规格：{{data.spec}}</p>
    </li>
  </ul>

  <div class="borderBottom10"></div>
  <div class="pingfen" ng-click="review()">
    <form action="" name="form_dp" method="post">
      <div class="dp_boxc">
        <input class="fl" type="checkbox" style="margin-top:2px; display:none;" name="InterviewCommentInfoSub[expAuth]" value="0" />
        <div class="revinp">
          <span class="level">
            <i class="level_hollow" cjmark=""></i>
            <i class="level_hollow" cjmark=""></i>
            <i class="level_hollow" cjmark=""></i>
            <i class="level_hollow" cjmark=""></i>
            <i class="level_hollow" cjmark=""></i>
          </span>
          <span class="revgrade">良</span>
        </div>
      </div>
      <div class="star_t"><em>5.0</em></div>
    </form>
    <span class="fr scored">{{ data.reviews_count}}人评分</span>
  </div>

  <div class="borderBottom1"></div>
  <div class="pj_tb">
    <a href="#" class="bg01">环境不错 222</a>
    <a href="#" class="bg01">有导医 21</a>
    <a href="#" class="bg01">服务到位 43</a>
    <a href="#" class="bg01">设备先进 874</a>
    <a href="#" class="bg02">味道不好 874</a>
  </div>
  

  <div class="borderBottom10"></div>
  <div class="Content">
    <ul>
      <li ng-repeat="detail in data.drug_details">
        <h3>【{{detail.title.split("：")[0]}}】</h3>
        <div class="fl" id="txt">
          {{::detail.detail.trim() }}
        </div>
      </li>
    </ul>
  </div>
  <div class="remind">
    <div class="icon-button">
      <a href="javascript:;">吃药提醒<span>（免费下载）</span></a>
    </div>
    <div class="txt">专家温馨提示：按时吃药，有疗效！</div>
  </div>

  <!-- <div class="borderBottom10"></div> -->
  <!-- <div class="myscore">
    <span class="fl myscored">我要评分</span>
    <form action="" name="form_dp" method="post">
      <div class="dp_boxc">
        <input class="fr" type="checkbox" style="margin-top:2px; display:none;" name="InterviewCommentInfoSub[expAuth]" value="0" />
        <div class="revinp">
          <span class="level">
              <i class="level_hollow" cjmark=""></i>
              <i class="level_hollow" cjmark=""></i>
              <i class="level_hollow" cjmark=""></i>
              <i class="level_hollow" cjmark=""></i>
              <i class="level_hollow" cjmark=""></i>
          </span>
          <span class="revgrade">良</span>
        </div>
      </div>
      <div class="star_t"><em>5.0</em></div>
    </form>
  </div> -->

  <div class="borderBottom10"></div>
  <div class="shoplist" ng-show="data.drugstores.length">
    <div class="title">
      <h1>商家报价</h1>
    </div>
    <div class="borderBottom1"></div>
    <ul class="store-list">
      <li  ng-repeat="store in data.drugstores">
        <div class="name">
          <h2>{{ store.name }}</h2><span><em>{{ store.price }}元</em></span>
        </div>
        <div class="list">
          <div class="img">
            <img ng-src="{{ store.image_url }}" />
          </div>
          <div class="txt">
            <ul>
              <li><strong>距离：</strong>{{$root.getDistance(store) | number:2}}千米 </li>
              <li><strong>经营许可证：</strong>{{ store.License }}</li>
              <li><strong>电话：</strong>{{ store.telephone }}</li>
              <li><strong>网址：</strong>www.zhuni.com</li>
              <li>
                <form action="" name="form_dp" method="post" class="star">
                  <div class="dp_boxc fr">
                    <input class="fr" type="checkbox" style="margin-top:2px; display:none;" name="InterviewCommentInfoSub[expAuth]" value="0" />
                    <div class="revinp">
                      <span class="level">
                          <i class="level_hollow" cjmark=""></i>
                          <i class="level_hollow" cjmark=""></i>
                          <i class="level_hollow" cjmark=""></i>
                          <i class="level_hollow" cjmark=""></i>
                          <i class="level_hollow" cjmark=""></i>
                      </span>
                      <span class="revgrade">良</span>
                    </div>
                  </div>
                  <div class="star_t"><em>5.0</em></div>
                </form>
              </li>
            </ul>
          </div>
        </div>

        <div class="listBottom">
          <ul>
            <li>医保</li>
            <li>24小时</li>
            <li>配送</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
  <!-- YaoDianBaoJia结束 -->

</div>
