<%= partial 'templates/details/header' %>

<div class="content">

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <img class="media-object pull-left height-auto" ng-src="{{data.image_url}}" style="margin-top:15px;"></img>

          <ul style="margin-left:108px;margin-top:10px;color:#666">

            <li>名称：{{data.name}}
              <a class="btn-large btn-red pull-right" ng-href="{{data.link}}" style="color:#fff;">挂号</a>
            </li>
            <li>科室：{{data.hospital_room_name}}</li>
            <li>医院：{{data.hospital_name}}</li>
            <li>执业经历 / 临床经验：{{data.desc}}</li>
            <li>个人咨询网站：</li>
          </ul>
        <div style="clear:both"></div>
      </li>

    </ul>
  </div>
  <div class="card">
  <ul class="table-view media">
    <!-- <li class="table-view-cell">
      <div class="media-detail">
          <p>名称：{{data.name}}</p>
          <p>科室：{{data.hospital_room_name}}</p>
          <p>医院：{{data.hospital_name}}</p>
          <p>执业经历 / 临床经验：{{data.desc}}</p>
          <p>个人咨询网站：</p>

        </div>

    </li> -->
    <li class="table-view-cell">
      <div class="media-detail">
        <h4 class="fix">
          <a href="#/review/Hospitals::Doctor/{{::id}}">
            <span  class="pull-left" style="color: #ffd700">★★★★★5分</span>
          </a>
          <span class="pull-right">{{data.reviews_count}}人点评</span>
        </h4>
      </div>

    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <ul class="inline border" style="text-align: justify;">
          <% remarks = %i(医术好 医德高 医术不错 医德不错 都一般) %>
          <% remarks.each do |remark|%>
          <li><%=remark%></li>
          <%end%>
        </ul>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        门诊时间表：

      </div>
    </li>

    <li class="table-view-cell">
      <%= partial 'templates/details/actions' %>
    </li>

  </ul>
</div>

  <!-- <div class="btns-block">
    <a class="btn btn-warning " ng-href="{{data.link}}">挂号</a>
  </div> -->

  <%#= partial 'templates/details/review' %>

  <%#= partial 'templates/details/detail', locals: { title: "擅长领域" } %>

  <div class="bg team">
    <div class="fix index-hd">
      <h3>猜你喜欢</h3>
    </div>
    <%= partial 'related' %>
  </div>

</div>
