<div align='center'>
  <h1> 索引后台</h1>
  <hr>
  <%= simple_form_for @editor, url: editors_session_index_path, method: 'post', wrapper: :editor_form, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :email, label: '用户名' %>
    <%= f.input :password, label: '密码' %>
    <%= f.button :submit, '登录', class: "btn btn-info" %>
  <% end %>
</div>