<%= partial 'templates/details/header' %>

<div class="content">
  <div class="album">
    <img ng-src="{{data.image_url}}" />
  </div>

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <div class="media-detail huge">
         <span>价格：<strong>{{data.price || 0}}</strong>元</span>
          <a class="btn btn-large btn-warning pull-right" ng-href="#/login/order/examinations/{{data.id}}">立即购买</a>
        </div>
      </li>
      <li class="table-view-cell">
        <div class="media-detail">
          <h4 class="examination-name">{{data.name }}</h4>
          <p>地址： {{data.address}}</p>
          <p>医院： {{ data.hospital_name }}</p>
          <p>适应对象：
            <span ng-repeat="type in data.examination_type"> [{{ type.name }}]</span>
          </p>
        </div>
      </li>
    </ul>
    <%= partial 'templates/details/map' %>
  </div>

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell">
        <div class="media-detail">
          <h4 class="fix">
            中心服务总评
            <span style="color: #ffd700">★★★★★5分</span>
            <span class="pull-right">{{data.reviews_count}}人参与评分</span>
          </h4>
        </div>
      </li>
      <li class="table-view-cell">
        <div class="media-detail">
          <ul class="inline border" style="text-align: justify;">
            <li>医术精准</li>
            <li>服务细致</li>
            <li>环境优雅</li>
            <li>性价比高</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="card">
    <ul class="table-view media">
      <li class="table-view-cell" ng-repeat="examination_detail in data.examination_details">
        <div class="media-detail">
          <h4>{{examination_detail.title}}</h4>
          <p>{{examination_detail.types}}</p>
          <p>{{examination_detail.content}}</p>
        </div>
      </li>
    </ul>
  </div>
  <%= partial 'related' %>
</div>
