<%= partial 'templates/lists/body', locals: { subtitle: :desc } %>
<div class="btns-block">
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/doctors">医生</a>
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/hospitals">医院</a>
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/drugs">药品</a>
</div>
