<%#= partial 'templates/lists/image' %>
<%#= partial 'templates/lists/body', locals: { subtitle: :desc } %>
<!-- <div style="margin-top:22px;">
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/doctors?{{data.params}}" style="color:#fff">
  	<img ng-src="images/icons/icon-doctor.png" width="27" style="margin-right:5px">医生
  </a>
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/hospitals?{{data.params}}" style="color:#fff">
  	<img ng-src="images/icons/icon-hospital.png" width="27" style="margin-right:5px">医院
  </a>
  <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/drugs?{{data.params}}" style="color:#fff">
  	<img ng-src="images/icons/icon-drug.png" width="27" style="margin-right:5px">药品
  </a>
</div> -->

<div class="list">

    <div class="item item-thumbnail-left" href="#" style="padding-right:0;padding-bottom: 8px;">
      <a ng-href="{{link(data)}}">
        <img ng-src="{{data.image_url}}" style="height:85px;">
      </a>
      <h2>
        <a ng-href="{{link(data)}}">
        {{data.<%= defined?(title) ? title : :name %>}}
        </a>
      </h2>
      <div class="row" style="margin-top:30px;">
        <div class="col-33">
          <a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/doctors?{{data.params}}" style="color:#fff">
            <img ng-src="images/icons/icon-doctor.png">医生
          </a>
        </div>
        <div class="col-33"><a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/hospitals?{{data.params}}" style="color:#fff">
    <img ng-src="images/icons/icon-hospital.png" >医院
  </a></div>
        <div class="col-33"><a class="btn btn-warning" ng-href="#/list/{{data.template}}/{{data.id}}/drugs?{{data.params}}" style="color:#fff">
    <img ng-src="images/icons/icon-drug.png" >药品
  </a></div>
        
      </div>
    </div>

</div>
