<div class="list-top">
  <a ng-href="{{link(data)}}" class="list-title">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  <!-- <span class="pull-right">更多>></span> -->
  <p class="pull-right">
    <span  style="color: #ffd700">★★★★★</span>   5分
  </p>
</div>
<img class="media-object pull-left height-auto" ng-src="{{data.image_url}}" style="height:85px;width:auto;">
<%= partial 'partial/body/doctor', locals: { subtitle: :position } %>
<%#= partial 'templates/lists/body', locals: { subtitle: :position } %>
