<!-- <div class="list-top">
  <a ng-href="{{link(data)}}" class="list-title">{{data.<%= defined?(title) ? title : :name %>}}</a>  
  <p class="pull-right">
    <span  style="color: #ffd700">★★★★★</span>   5分
  </p>
</div> -->
 
<%#= partial 'templates/lists/image' %>
<%#= partial 'partial/body/hospital_t2' %>



<%= partial 'templates/lists/list_header' %>
<div class="row" style="padding-bottom:0">
  <div class="col" style="padding-bottom:0;padding-top: 0px;">
    <div class="list" style="padding-bottom:0">

      <a class="item item-thumbnail-left" href="#" style="padding-bottom:0">
        <img ng-src="{{data.image_url}}">
        <ul class="list-cont">
    <li>距离：{{$root.getDistance(data) | number:2}}千米 </li>
    <li class="text-overflow">
      特色科室：{{data.characteristic_departments}}
      
    </li>
    <li>
      <span>电话：{{data.telephone}}</span> 
      <!-- <span class="pull-right price-color" style="background-color: #E62418;color:#FFF">就诊查讯</span> -->
    </li>
  </ul>
      </a>

    </div>
  </div>
</div>

<div class="row" >
  <div class="col" style="padding-bottom:0">
    <p class="gray-line-1"></p>
    <ul class="font-14 list-bottom">
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.tjjg}">
    体检机构 
  </li>
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.zhyy}">
    综合医院 
  </li>
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.sjgh}">
    手机挂号/查询
  </li>
  <li class="circle" ng-class="{dot: data.hospital_sevice_list.dhyy}">
    电话预约
  </li>

</ul>
  </div>
</div>