<p style="padding: 5px 0;font-size:15px;">
    <a ng-href="{{link(data)}}">{{data.<%= defined?(title) ? title : :name %>}}</a>  
    <!-- <span class="pull-right">更多>></span> -->
    <span style="color: #ffd700">★★★★★</span>   5分
    <span class="pull-right">1098人浏览</span>
</p>
<%= partial 'templates/lists/image' %>
<%= partial 'partial/body/hospital_polyclinic' %>
<%#= partial 'templates/lists/marking' %>