<a ng-href="{{link(data)}}">
	<%= partial 'templates/lists/image' %>
</a>
<div class="media-body">
  <h1 >
  	<a ng-href="{{link(data)}}">
  		{{data.<%= defined?(title) ? title : :name %>}}
  	</a>
  	<span class="pull-right" ng-if="$root.coords">
  		{{$root.getDistance(data) | number:2}}千米
  	</span>
  </h1>
  <!-- <p>{{data.<%= defined?(subtitle) ? subtitle : :name %> | limitToEllipsis:50}}</p> -->
</div>
<div class="media-detail">
  <p>
  	{{data.hospital_onsales[0].name}}
  </p>
  <!-- <strong>{{data.star | number:1}}</strong> -->
  
</div>
<%= partial 'templates/lists/price_onsale' %>