// Header & Footer
.bar-nav {
  height: 52px;
  color: #fff;
  background: #2dbeae;
  border-bottom: 1px solid #00a795;
  overflow: hidden;

  a {
    position: relative;
    font-size: 20px;
    padding-top: 15px;
  }

  a.brand {
    padding-top: 12px;
  }

  a.action {
    padding-top: 10px;
  }

  h1.title {
    padding-top: 3px;
    font-size: 24px;
    color: inherit;
  }

  .input-wrapper {
    position: absolute;
    top: 5px;
    left: 65px;
    right: 15px;

    input.search {
      padding-left: 50px;
      color: #333;
    }

    .ionicon {
      position: absolute;
      margin-top: 5px;
      margin-left: 5px;
      font-size: 30px;
      color: #999;
    }
    
    &.fake-input {
      left: 150px;

      input.search {
        background-color: lighten(#2dbeae, 20%);
        border: 1px solid darken(#2dbeae, 10%);
        color: darken(#2dbeae, 10%);

      }
      .ionicon {
        color: darken(#2dbeae, 10%);
      }
    }
  }
}

.bar-tab {
  z-index: 5;

  .tab-item {
    .ionicon ~ .tab-label {
      display: block;
      font-size: 11px;
      line-height: 11px;
    }

    &.active, &:active {
      color: #2bb2a3;
    }
  }
}

.bar .ionicon {
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 20;
  font-size: 32px;
  text-align: center;
}
