// Button
.btn {
  font-size: 14px;
}
.btn-primary {
  color: #fff;
  background-color: #06c1ae;
  border: 1px solid #06c1ae;
}
.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: darken(#06c1ae, 10%);
  border: 1px solid darken(#06c1ae, 10%);
}
.btn-warning {
  color: #fff;
  background-color: #fdb338;
  border: 1px solid #fdb338;
}
.btn-warning:active, .btn-warning.active {
  color: #fff;
  background-color: darken(#fdb338, 10%);
  border: 1px solid darken(#fdb338, 10%);
}

.btn-large {
  height: 40px;
  padding: 10px 25px;
  font-size: 20px;
  font-weight: bold;
}

.btn-small {
  padding: 3px 5px;
}

input, button {
  border-radius: 0!important;
}

input[type="text"], input[type="password"] {
  height: 40px;
}

.btns-block {
  position: relative;
  display: table;
  border-spacing: 10px 0;
  margin-bottom: 10px;

  .btn {
    display: table-cell;
    width: 1%;
    padding-right: 20px;
  }
}

.content > .btns-block .btn, .content > .btn {
  box-shadow: 0 1px 3px darken(#ddd8ce, 20%);
}
