// 全部类别
// .table-view .table-view-cell {
// 	background: #efecec;
// }
.slider-all {
    background-color:white;
}
.slider-all ul{
    float:left; padding:3px 1px 1px 1px;
}
.slider-all ul li {
    width:100px;
    height:auto;
    border:3px outset #efecec; 
    padding-top:1px; 
    float:left;
    text-align:center;
}
.slider-type {
    background-color:gray;}

.sub-menus-ul {
	background: #fff;
	li a {
		color: #000;
	}
}

// 列表显示页面

.gray-line-1 {
	height:1px;
	margin: 4px 0;
	border-top:1px solid #efecec
}

p.font-14 {
	font-size: 14px;
}

.gr-dian {
	font-size: 24px;
	color: #2E8B57;
}

.circle {
	font-size: 24px;
}

.price-color {
	color: #DC143C;
}