.filters {
  padding: 0;
  background-color: transparent;
  height: 52px;
  z-index: 9;

  .segmented-control {
    border-radius: 0;
  }

  input {
    border-top: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
}
