.filters {
  padding: 0;
  background-color: transparent;
  height: 52px;
  z-index: 8;

  .segmented-control {
    border-radius: 0;
  }

  input {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    font-size: 14px;
  }
  label {
    color: #666;
    font-size: 14px;
  }

  .input-wrapper {
    border-bottom: 1px solid #ddd;

    input {
      border-bottom: 0;
    }
  }

  .input-group {
    padding: 15px;
  }
}
