.filters {
  padding: 0;
  background-color: transparent;
  height: 52px;
  z-index: 8;

  .segmented-control {
    border-radius: 0;
  }

  input {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    font-size: 14px;
  }
  label {
    color: #666;
    font-size: 14px;
  }

  .input-group {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  .input-block {
    padding-bottom: 10px;
  }

  form {
    .checkboxes, .string {
      .pull-right {
        min-width: 65%;
      }
    }
    
    .checkboxes {
      line-height: 36px;
    }
    .alphabet {
      height: 141px;
      .btn {
        width: 32px;
      }
      .btn-multi-group .btn-group:nth-child(2) .btn:last-child {
        border-bottom-right-radius: 3px;
      }
    }
    .string {
      line-height: 32px;
      input {
        width: 65%;
        padding-left: 15px;
        height: 32px;
      }
    }
    .price {
      line-height: 32px;
      .inputs {
        width: 65%;
        input {
          width: 30%;
        }
      }
    }
    .switch {
      line-height: 30px;
      .toggle:before {
        top: -1px;
      }
    }
    .btn-group .btn {
      padding: 10px;
    }
    .btn-group-margin .btn {
      padding: 10px;
      margin: 0 5px 5px 0;
    }
    .btn {
      position: static;
      padding: 10px 25px;
    }
  }
}
