@import 'bourbon/bourbon';

// Login & Register
.login-actions {
  padding-bottom: 10px;
  a {
    color: #666;
  }
}

form.register {
  input.login {
    width: 67%;
  }

  button.token {
    width: 30%;
    padding: 10px 0;
  }
}

form {
  .stars {
    padding: 10px 0;

    .ionicon {
      font-size: 36px;
      padding-right: 5px;
    }
  }
  textarea {
    padding: 10px 15px;
  }
  h3 {
    padding: 20px 20px 0;
  }
  h4 {
    padding: 10px 20px 0;
  }
  .input-row {
    height: auto;

    &:last-child {
      border-bottom: 0;
    }
    
    .pull-right {
      text-align: right;
      float: right!important;
      width: 65%;
    }
    label {
      font-size: 17px;
      white-space: nowrap;
      padding: 11px 15px;
    }
    .buttons {
      .btn {
        margin-top: 5px;
      }
      input {
        float: none;
        width: 50px;
        padding: 2px 0 0 5px;
        text-align: center;
      }
    }
  }
}