.health-information-detail-header{
  .custom-back{
    width: 40px;
  }
  .title{
    margin:0;
    font-size:22px;
    width: 7em !important;
  }
}
.afterHeight {
  height: 26px;
}
#health_information_detail,
#health_information{
  background-color:white;
  height: 100%;
  overflow: scroll;
  margin-top: 4%;
  .ads-image{
    height: 120px;
    width:100%;
    margin-left: 0px;
  }
  .ads-images{
    width:100%;
    height: 200px;
    .slider{
      height: 100%;
      background-color: #E9E5E5;
    }
    .box{
      height: 100%;
      border: none;
      .information-title{
        position: absolute;
        bottom: 0px;
        left: 10px;
        background-color: rgba(54, 47, 47, 0.36);
        color: white;
        font-size: 16.7px;
        height: 30px;
        width: 96.5%;
        line-height: 30px;
      }
    }
  }
  .empty-tip{
    padding: 10px;
  }
  .review-list{
    margin-top: 10px;
  }
  .review-wrapper{
    padding: 10px;
    background-color: #f3f3f3;
    textarea{
      padding: 10px;
      width: 95%;
    }
    .review-infor{
      margin-top: 10px;
      margin-left: 285px;
    }
  }
  .infor-content{
    text-indent: 20px;
    line-height: 2;
    font-size: 22px;
    color: black;
    img{
      width: 97%;
      margin-left: -12px;
      max-height: 150px;
    }
    p{
      margin-top: 8px;
      line-height: 1.9 !important;
      font-size: 22px;
      color: black;
    }
  }
  .ad-picture{
    li{
      display: inline-block;
      width: 40%;
      margin-right: 10px;
    }
  }
  .information-items{
    margin-left: 17.6px;
    width: 90%;
    font-size: 17.6px;
    margin-top: 10px;
    .information-wrapper{
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      width: 98%;
    }
    .information-item{
      padding: 5px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
    }
    .information-item:nth-child(-n+2){
      a {
        color: #c6171e;
      }
    }
    .picture-ads:nth-child(-n+2){
      position: relative;
      display: inline-block;
      width: 46%;
      height: 80px;
      margin-right: 10px;
      // border: 1px solid #ccc;
      .image-item{
        padding: 30px 0px;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .info-name{
        width: 100%;
        position: absolute;
        bottom: 9px;
        background-color: rgba(0, 0, 0, 0.16);
        color: #FFFFFF;
      }
    }
  }
  .first-category{
    .information-items{
      .information-item:nth-child(-n+3){
        a {
          color: #c6171e;
        }
      }
    }
  }
  section{
    margin-top: 10px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 140px;
    }
  }
  h4{
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
header{
  .download-reminder{
    color: white;
  }
}
#health_information{
  .category-information{
    position: relative;
    font-size: 22px;
    line-height: 34px;
    margin-top: 10px;
    padding: 0px;
    .category-title{
      display: inline;
    }
    .category-items{
      position: absolute;
      right: 0px;
      top: -4px;
      display: inline;
      vertical-align: top;
      margin: 0px;
      padding:0 10px 0 0;
      width: 100%;
      float: right;
      width: 60%;
      li{
        float: right;
        list-style:none;
        margin-left: 10px;
        padding: 5px 0px;
        font-size: 18px;
      }
    }
  }
  .load-more{
    clear: both;
    border-top: 1px solid #dfdfdf;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
    margin: 0 10px;
    background-color: #dfdfdf;
  }
  nav{
    // background-color: #E62418;
    padding: 10px;
    text-align: left;
    font-size: 18px;
  }

  ul a{
    width: 90%;
    font-size: 17.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }

  h3{
    margin-left: 10px;
    margin-bottom: 10px;
  }

  nav a{
    margin-right: 10px;
  }

  li{
    list-style: none;
    display: block;
  }

  a{
    color: black;
    text-decoration: none;
  }

  h1 {
    color: maroon;
    margin-left: 40px;
  }
}
#health_information_detail{
  h4{
    margin-bottom: 5px;
  }
  .information-title{
    text-align: center;
  }
  .information-detail{
    padding: 10px;
  }
  .detail-normal-title{
    font-size: 17.6px;
    margin-left: 5px;
  }
}
