.custom-header{
  height: 60px;
  overflow: visible;
  .hamburger-wrapper{
    width: 30%;
    position: relative;
    .hamburger-items{
      position: absolute;
      top: 40px;
      right: 0px;
      background: #fff;
      border-radius: 5px;
      width: 170px;
      .hamburger-item{
        padding: 10px;
        border-top: 1px solid #D4C8C8;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
      }
      img{
        height: 30px;
        width: 30px;
      }
    }
  }
  .custom-menu{
    font-size: 41px;
    padding-top:0px;
  }
}

.health-information-detail-header{
  .custom-back{
    width: 40px;
    padding-top: 6px !important;
  }
  .title{
    margin:0;
    font-size:22px;
    width: 7em !important;
  }
}
.afterHeight {
  height: 28px;
}
#health_information_detail,
#health_information{
  background-color:white;
  height: 100%;
  margin-top: 6%;
  overflow: scroll;
  overflow-x: hidden;
  .detail-ads-image{
    height: 120px;
    width:100%;
  }
  .ads-image{
    width:100%;
    margin-left: 0px;
  }
  .ads-images{
    width:100%;
    height: 200px;
    .slider{
      height: 100%;
      background-color: #E9E5E5;
    }
    .box{
      height: 100%;
      border: none;
      .information-title{
        position: absolute;
        bottom: 0px;
        left: 10px;
        background-color: rgba(54, 47, 47, 0.36);
        color: white;
        font-size: 16.7px;
        height: 30px;
        width: 96.5%;
        line-height: 30px;
      }
    }
  }
  .empty-tip{
    padding: 10px;
  }
  .review-list{
    margin-top: 10px;
  }
  .review-wrapper{
    padding: 10px;
    background-color: #f3f3f3;
    textarea{
      padding: 10px;
      width: 95%;
    }
    .review-infor{
      margin-top: 10px;
      margin-left: 285px;
    }
  }
  .infor-content{
    // text-indent: 20px;
    line-height: 2;
    font-size: 22px;
    color: black;
    .pull-left{
      float: none !important;
    }
    img{
      max-width: 97%;
      // margin-left: -12px;
      max-height: 150px;
      clear: both;
      display: block;
      margin:auto;
    }
    p{
      margin-top: 8px;
      line-height: 1.9 !important;
      font-size: 22px;
      color: black;
    }
  }
  .ad-picture{
    margin: 20px;
    li{
      display: inline-block;
      width: 45%;
      margin-right: 5%;
      margin-bottom: 10px;
    }
  }
  .information-items{
    margin-left: 17.6px;
    width: 90%;
    font-size: 17.6px;
    margin-top: 10px;
    .information-wrapper{
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
      width: 98%;
    }
    .information-item{
      padding: 8px 0px;
      border-top: #d7d7d7 1px solid;
      .item-wrapper{
        height: 100%;
        width: 90%;
        text-overflow: ellipsis;
        word-break:break-all;
        white-space: nowrap;
        overflow: hidden;
      }
      &.two-picture-infor {
        .item-wrapper{
          width: 100% !important;
        }
      }
    }
    .two-picture-infor{
      position: relative;
      display: inline-block;
      width: 46%;
      height: 120px;
      margin-right: 10px;
      border-top:none;
      // border: 1px solid #ccc;
      .image-item{
        padding: 30px 0px;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .info-name{
        width: 100%;
        position: absolute;
        bottom: 9px;
        background-color: rgba(0, 0, 0, 0.16);
        color: #FFFFFF;
      }
    }
    .information-item:nth-child(-n+2){
      a {
        color: #c6171e;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        img{
          top: 2px;
          left: 0px;
        }
      }
    }
    .picture-ads:nth-child(-n+2){
      position: relative;
      display: inline-block;
      width: 46%;
      height: 120px;
      margin-right: 10px;
      // border: 1px solid #ccc;
      .image-item{
        padding: 30px 0px;
        img{
          height: 100%;
          width: 100%;
        }
      }
      .info-name{
        width: 100%;
        position: absolute;
        bottom: 9px;
        background-color: rgba(0, 0, 0, 0.16);
        color: #FFFFFF;
      }
    }
  }
  .first-category{
    .information-items{
      .information-item:nth-child(-n+3){
        a {
          color: #c6171e;
        }
      }
    }
  }
  section{
    margin-top: 10px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 140px;
    }
  }
  h4{
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
header{
  .download-reminder{
    color: white;
  }
}
#health_information{
  .preciseCategories{
    margin: 10px;
    .preciseCategory-item{
      display: inline-block;
      width: 20%;
      text-align: center;
    }
    .preciseCategory-title{
      margin-top: 5px;
      text-align: center;
    }
  }
  .app-name{
    text-align:center;
    width:90%;
    overflow:hidden;
    white-space:nowrap;
  }
  .category-information{
    position: relative;
    font-size: 22px;
    line-height: 34px;
    margin-top: 10px;
    padding: 0px;
    .category-title{
      display: inline;
    }
    .category-items{
      position: absolute;
      right: 0px;
      top: -4px;
      display: inline;
      vertical-align: top;
      margin: 0px;
      padding:0 10px 0 0;
      width: 100%;
      float: right;
      width: 60%;
      li{
        float: right;
        list-style:none;
        margin-left: 10px;
        padding: 5px 0px;
        font-size: 18px;
      }
    }
  }
  .load-more{
    clear: both;
    border-top: 1px solid #dfdfdf;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
    margin: 0 10px;
    background: rgba(129, 230, 145, 0.67);
  }
  nav{
    // background-color: #E62418;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    li{
      list-style: none;
      display: inline;
      margin-right: 6px;
      // white-space: nowrap;
      a{
        white-space: nowrap;
        font-size: 18px;
      }
    }
  }

  ul a{
    width: 90%;
    font-size: 17.6px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }

  h3{
    margin-left: 10px;
    margin-bottom: 10px;
  }

  // nav a{
  //   margin-right: 6px;
  // }

  // li{
  //   list-style: none;
  //   display: block;
  // }

  a{
    color: black;
    text-decoration: none;
  }

  h1 {
    color: maroon;
    margin-left: 40px;
  }
}
#health_information_detail{
  overflow: scroll;
  .mt-20{
    margin-top: 20px;
  }
  .guess-list{
    width: 100%;
    .guess-item{
      display: inline-block;
      width: 30%;
      margin-left: 2%;
      img{
        height: 100px;
        width: 100%;
      }
    }
  }

  h4{
    margin-bottom: 5px;
  }
  .information-title{
    text-align: center;
    font-size: 22px;
  }
  .information-detail{
    padding: 10px;
    .time-info{
      font-size: 18px;
    }
  }
  .detail-normal-title{
    font-size: 17.6px;
    margin-left: 5px;
    margin-bottom: 10px;
  }
}

.last-section{
  margin-bottom: 60px !important;
  .connect-way{
    p{
      font-size: 17.6px;
      line-height: 30px;
    }
  }
  .disclaimer{
    padding: 20px;
  }
}
.overflow-text{
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.go-top{
  position: fixed;
  bottom: 50px;
  right: 10px;
  padding: 20px 10px;
  // background: rgba(82, 72, 58, 0.6);
  color: black;
}

.header-image{
  width: 66%;
  height: 100%;
}
