.afterHeight {
  height: 26px;
}
#health_information_detail,
#health_information{
  background-color:white;
  height: 100%;
  overflow: scroll;
  margin-top: 4%;
  .ad-picture{
    li{
      display: inline-block;
      width: 40%;
      margin-right: 10px;
    }
  }
  .information-items{
    margin-left: 20px;
    width: 90%;
    .information-item{
      padding: 5px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap;
    }
  }
  section{
    margin-top: 10px;
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 140px;
    }
  }
  h4{
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
header{
  .download-reminder{
    color: white;
  }
}
#health_information{
  .category-information{
    position: relative;
    font-size: 22px;
    line-height: 34px;
    margin-top: 10px;
    padding: 0px;
    .category-title{
      display: inline;
    }
    .category-items{
      position: absolute;
      right: 0px;
      top: -4px;
      display: inline;
      vertical-align: top;
      margin: 0px;
      padding:0px;
      width: 100%;
      float: right;
      width: 60%;
      li{
        float: right;
        list-style:none;
        margin-left: 10px;
        padding: 5px 0px;
        font-size: 18px;
      }
    }
  }
  .load-more{
    clear: both;
    border-top: 1px solid #dfdfdf;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
  }
  nav{
    // background-color: #E62418;
    padding: 10px;
    text-align: left;
    font-size: 18px;
  }

  ul a{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
  }

  h3{
    margin-left: 10px;
    margin-bottom: 10px;
  }

  nav a{
    margin-right: 10px;
  }

  li{
    list-style: none;
    display: block;
  }

  a{
    color: black;
    text-decoration: none;
  }

  h1 {
    color: maroon;
    margin-left: 40px;
  }
}
#health_information_detail{
  h4{
    margin-bottom: 5px;
  }
  .information-title{
    text-align: center;
  }
  .information-detail{
    padding: 10px;
  }
}
