// Loading Bar
.header ~ #loading-bar .bar {
  top: 51px;
}

#loading-bar .bar {
  height: 3px;
  background: #077;
}

#loading-bar .peg {
  box-shadow: #099 1px 0 6px 1px;
}

.header ~ #loading-bar-spinner {
  top: 61px;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #2bb2a3;
  border-left-color: #2bb2a3;
}
