.popover {
  top: 72px;
  left: 5px;
  right: 5px;
  width: auto;
  margin-left: 0;
  display: block;
  opacity: inherit;
  
  color: #666;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 0 3px #ddd8ce;

  .segmented-control {
    border-radius: 6px;
  }
}

.popover:before {
  left: auto;
  right: 30px;
}

.popover-2:before {
  border-bottom: 15px solid #fafafa;
}