/*- - - - - - - - -样式属症状显示详细.html - - - - - - - -*/
body{
  background-color: white;
  .main{
    height: 100%;
  }
}
#symptoms{
  width:90%;
  margin:0 auto;
  margin-top:56px;
  font-size:1.4em;
  line-height:1.4em;
  font-family: 微软雅黑;
  height: 100%;
  overflow: scroll;
}
#symptoms ul{
  border:1px solid #e9e9e9;
  margin-bottom: 180px;
}
#symptoms ul li{
  border-bottom:1px solid #eaeaea;
  width:100%;
  overflow:hidden;
  padding: 25px 0;
  background:url(../images/down-arrow.png) no-repeat 95% 45px;
}
#symptoms ul li img{
  width: 63px;
  height: 63px;
  float:left;
  margin-left:4%;
  margin-right:4%;
}
#symptoms ul li strong{
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  display:block;
  font-size:1.3em;
  height:38px;
  line-height:38px;
  overflow:hidden;
}
#symptoms ul li em{
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  display:block;
  color:#b9b9b9;
  line-height:29px;
  height:29px;
  overflow:hidden;
  span{
    padding: 0 6px;
  }
}
#symptoms ul li .box{
  // overwrite the eve.css
  border: none;
  padding: 0 10px;

  border-top:1px solid #eaeaea;
  font-size:1.6em;
  margin-top:25px;
  display:none;
  width: 100%;
}
#symptoms ul li .box a{
  display:inline-block;
  font-family: 微软雅黑;
  font-size: 22.3999996185303px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 40px;
  line-height: 40.3199996948242px;
<<<<<<< HEAD
  width: 32.7%;
=======
  width: 32%;
>>>>>>> master
  overflow:hidden; /*不显示超过对象宽度的内容*/
  text-overflow:ellipsis; /*当对象内文本溢出时显示省略标记（...）*/
  white-space:nowrap; /*限制在一行内显示所有文本*/
  border: 1px solid #eaeaea;
  text-align: center;
}
#symptoms ul li.change {
  background-image:url(../images/up-arrow.png);
}

/*- - - - - - - - -样式属症状显示详细2.html - - - - - - - -*/
#symptoms_detail{
  width:90%;
  height:auto;
  height: 100%;
  overflow: scroll;
  margin:0 auto;
  font-size:1.4em;
  margin-top: 60px;
}
#symptoms_detail li {
  padding:10px;
  height:auto;
  overflow:hidden;
  clear:both;
  border: 1px solid #eaeaea;
}
#symptoms_detail .symptom-title {
  width:30%;
  text-align:center
}
#symptoms_detail .symptom-title h1 {
  font-size:1.2em;
  color:#333;
}
#symptoms_detail .related-content {
  width:60%;
  margin-left:20px;
}
#symptoms_detail a {
  color:#b8b8b8;
}

#symptoms_detail{
  .symptoms{
    ul{
      margin-bottom: 180px;
      margin-top: 50px;
      li {
        // overflow:hidden;
        padding: 25px 0px;
        background:url(../images/down-arrow.png) no-repeat 90% 45px;
        &.change{
          background-image:url(../images/up-arrow.png);
        }
        strong {
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          display:block;
          font-size:1.3em;
          height:38px;
          line-height:38px;
          overflow:hidden;
          padding-left:10px;
        }
        .box{
          // overwrite the eve.css
          border: none;
          overflow: scroll;

          border-top:1px solid #eaeaea;
          padding: 25px 22px;
          font-size:1.6em;
          margin-top:25px;
          display:none;
          a{
            display:inline-block;
            font-family: 微软雅黑;
            font-size: 22.3999996185303px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 40.3199996948242px;
          }
        }
      }
    }
  }
}

