@import 'bourbon/bourbon';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none!important;
}

@import 'common';
@import 'bar';
@import 'dropdown';
@import 'button';
@import 'slides';
@import 'card';
@import 'form';
@import 'detail';
@import 'loadingbar';
@import 'alert';
@import 'modal';
@import 'table';

// Baidu Share
.bd-share {
  a {
    float: left;
    width: 40px;
    line-height: 40px;
    height: 40px;
    background-image: url(http://openapi.baidu.com/static/07081126/social-api/img/share/share_popupx.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 5px 15px 10px 0;
    text-indent: -100em;
    overflow: hidden;
    color: #3a8ceb;

    &.renren {
      background-position: -399px 9px;
    }
    &.sinaweibo {
      background-position: 1px 4px;
    }
    &.qqweibo {
      background-position: -199px 5px;
    }
    &.kaixin {
      background-position: -197px -97px;
    }
    &.qqdenglu {
      background-position: -99px 3px;
    }
    &.sms {
      background-position: -98px -96px;
    }
    &.mail {
      background-position: -298px -94px;
    }
  }
}