<!doctype html>
<html ng-app="DaisyApp">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <meta property="qc:admins" content="13033452356313763756367572145" />
    <meta property="wb:webmaster" content="55e2be4c9a3f5ca1" />
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>搜医搜</title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <!-- Baidu Map -->
    <script src="http://api.map.baidu.com/api?type=quick&amp;ak=E5072c8281660dfc534548f8fda2be11&amp;v=1.0"></script>
    <!-- Baidu Share -->
    <script type="text/javascript" src="http://openapi.baidu.com/widget/social/1.0/share.js"> </script>
    <!-- Weibo -->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=6634719&amp;debug=true" type="text/javascript" charset="utf-8"></script>
    <!-- QQ Connect -->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101150059" charset="utf-8"></script>
  </head>
  
  <body ng-class="routeDirection">
    <%= yield %>
  <script>
    // adaptUILayout.adapt(480); //适配当前页面
    // $(function(){
    //   $("#cnzz_stat_icon_1254633904").css({ "display": "none"});
    // })
  </script>  
  <script type="text/javascript">
    var cnzz_protocol = (
      ("https:" == document.location.protocol) ? " https://" : " http://"
    );
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1254633904'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1254633904%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));

    
    </script>
  </body>
</html>