<!doctype html>
<html ng-app="DaisyApp">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name='apple-touch-fullscreen' content='yes'>
    <meta name="full-screen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>搜医搜</title>
    
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
    <!-- Baidu Map -->
    <script src="http://api.map.baidu.com/api?type=quick&amp;ak=E5072c8281660dfc534548f8fda2be11&amp;v=1.0"></script>
    <!-- Baidu Share -->
    <script type="text/javascript" src="http://openapi.baidu.com/widget/social/1.0/share.js"> </script>
    <!-- Weibo -->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=963160736&amp;debug=true" type="text/javascript" charset="utf-8"></script>
    <!-- QQ Connect -->
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101165275" charset="utf-8"></script>
  </head>
  
  <body ng-class="{back: locationBack}">
    <%= yield %>
  </body>
</html>