<div class="card">
  <ul class="table-view media">
    <% if defined?(price) && price %>
      <li class="table-view-cell">
        <div class="media-detail huge">
          <span><strong>{{data.sale_price||"&nbsp;"}}</strong>元</span>
          <del>{{data.ori_price}}元</del>
          <a class="btn btn-large btn-warning pull-right" ng-href="#/login/order/{{data.type}}/{{data.id}}">立即购买</a>
        </div>
      </li>
    <% end %>
    <li class="table-view-cell">
      <div class="media-detail">
        <h1>{{data.<%= defined?(title) ? title : :name %>}}</h1>
        <p class="pre">{{data.<%= defined?(subtitle) ? subtitle : :name %>}}</p>
      </div>
    </li>
    <li class="table-view-cell">
      <%= partial 'templates/details/actions' %>
    </li>
  </ul>
</div>