<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail huge">
        <strong>255</strong>元
        <del>736元</del>
        <a class="btn btn-strong pull-right" href="#">立即购买</a>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <h1>达克宁家族</h1>
        <p>达克宁乳膏每克含硝酸咪康唑0.02克，辅料为：单硬脂酸甘油酯、硬脂酸、三乙醇胺、十八醇、甘油、羟苯乙酯、白凡士林、液状石蜡、纯化。适应由真菌引起的皮肤、指（趾）甲感染。</p>
      </div>
    </li>
    <li class="table-view-cell">
      <ul class="actions">
        <li>
          <img src="images/rs.gif" width="20"> 
          <span>已有2222人购买</span>
        </li>
        <li>
          <img src="images/jiang.gif" width="20"> 
          <a href="#">降价通知</a>
        </li>
        <li>
          <img src="images/sc2.gif" width="20"> 
          <a href="#">我要收藏</a>
        </li>
      </ul>
    </li>
  </ul>
</div>