<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail">
        <h1>{{data['data'].name}}</h1>
        <p>{{data['data'].desc}}</p>
      </div>
    </li>
    <li class="table-view-cell">
      <ul class="actions">
        <li>
          <img src="images/rs.gif" width="20"> 
          <span>已有2222人就诊</span>
        </li>
        <li>
          <a ng-click="favorite(type, id)">
            <img src="images/sc2.gif" width="20"> 
            我要收藏
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>