<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail huge">
        <span><strong>{{data.sale_price}}</strong>元</span>
        <del>{{data.ori_price}}元</del>
        <a class="btn btn-strong pull-right" href="#">立即购买</a>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <h1>{{data.name}}</h1>
        <p>{{data.desc}}</p>
      </div>
    </li>
    <li class="table-view-cell">
      <ul class="actions">
        <li>
          <span>
            <img src="images/rs.gif" width="20"> 
            已有2222人购买
          </span>
        </li>
        <li>
          <a ng-click="priceNotification(type, id)">
            <img src="images/jiang.gif" width="20"> 
            降价通知
          </a>
        </li>
        <li>
          <a ng-click="favorite(type, id)">
            <img src="images/sc2.gif" width="20"> 
            我要收藏
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>