<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      <%= defined?(title) ? title : "å•†å“ä¿¡æ¯" %>
    </li>
    <li class="table-view-cell">
      {{data.<%= defined?(detail) ? detail : :desc %>}}
    </li>
  </ul>
</div>
