<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      <%= defined?(title) ? title : "å•†å“ä¿¡æ¯" %>
    </li>
    <li class="table-view-cell">
      <p class="pre">{{data.<%= defined?(detail) ? detail : :desc %>}}</p>
    </li>
  </ul>
</div>
