<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      商品信息
    </li>
    <li class="table-view-cell media-detail">
      <p>【药品名称】</p>
      <p>通用名称：硝酸咪康唑乳膏</p>
      <p>英文名称：Miconazole Nitrate Cream</p>
      <p>汉语拼音：Xiaosuan Mikangzuo Rugao</p>
      <p>【性状】本品为白色或类白色乳膏。</p>
      <p>【作用类别】本品为皮肤科及妇科用药类非处方药药品。</p>
      <p>【适应症】</p>
      <p>1. 由皮真菌、酵母菌及其他真菌引起的皮肤、指（趾）甲感染，如：体股癣、手足癣、花斑癣、头癣、须癣、甲癣；皮肤、指（趾）甲念珠菌病；口角炎、外耳炎。由于本品对革兰阳性菌有抗菌作用，可用于此类细菌引起的继发性感染。</p>
      <p>2. 由酵母菌（如念珠菌等）和革兰阳性细菌引起的阴道感染和继发感染。</p>
      <p>【规格】每克含硝酸咪康唑20毫克（2%）。</p>
    </li>
  </ul>
</div>
