<div class="card">
  <ul class="table-view media">

    <li class="table-view-cell">
      <a href="#/join_league" style="color:#008000">
        商家加盟及报错更正
        <i class="ion ion-chevron-right" style="float:right;"></i>
      </a>
    </li>
  </ul>
</div>