<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      商家位置
    </li>
    <li class="table-view-cell media-detail">
      <h1>{{data.title}}</h1>
      <p>{{data.address}}</p>
      <div class="map" map map-data="data"></div>
    </li>
  </ul>
</div>