<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      商家信息
    </li>
    <li class="table-view-cell media-detail">
      <h1>普仁大药房</h1>
      <p>崇安区新生弄4号（朝阳广场市民卡充值点往里 150米）</p>
      <div class="map" map map-data="data['map']"></div>
    </li>
  </ul>
</div>