<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell review">
      <div stars="data.star" class="stars"></div>
      &nbsp;
      <strong>{{data.star | number:2}}</strong>
      <span class="pull-right">{{data.reviews_count}}人评价</span>
    </li>
  </ul>
</div>