<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-more review">
      <span class="ionicon ion-ios7-star"></span>
      <span class="ionicon ion-ios7-star"></span>
      <span class="ionicon ion-ios7-star"></span>
      <span class="ionicon ion-ios7-star"></span>
      <span class="ionicon ion-ios7-star-half"></span>
      &nbsp;
      <strong>4.7</strong>
      <span class="pull-right">14670人评价</span>
    </li>
  </ul>
</div>