<%= partial 'templates/details/header' locals: { title: "病因"} %>

<p class="pre" ng-show="{{attr == 'by'}}">{{data.etiology}}</p>
<p class="pre" ng-show="{{attr == 'zz'}}">{{data.etiology}}</p>
<p class="pre" ng-show="{{attr == 'jc'}}">{{data.etiology}}</p>
<p class="pre" ng-show="{{attr == 'zl'}}">{{data.etiology}}</p>