<%= partial 'header', locals: { title: "健康医疗行业APP大全" } %>
<div class="content">

	<div class="list list-inset" ng-repeat="app_type in data.data">

    <div class="item">
      <div class="row">
	    	<p style="font-size: 1.4em;">{{app_type.name}}</p>
	    </div>
	    <div class="row" ng-swipe-left="swipeLeft($index, app_type.app_informations.length)" ng-swipe-right="swipeRight($index)"> 
	    	<div class="col-20" ng-repeat="app in app_type.app_informations.slice(start[$index],start[$index]+5)" >
	    		<div style="padding:5px;">
	    		<img src="{{app.image_url}}" width="100%" style="display:block;">
						<p style="text-align:center;verflow:hidden;margin-top:5px;">{{app.name}}</p>
					</div>
	    	</div>
	    	
	    </div>
    </div>



</div>


</div>