<%= partial 'header', locals: { title: "健康医疗行业APP大全" } %>
<div class="content">
	<div class="list list-inset" ng-repeat="app_type in data.data">
    <div class="item">
      <div class="row">
	    	<p class="col-33" style="font-size: 1.4em;">
	    		{{app_type.name}}
	    	</p>
	    	<a href="#/infors/app_types/{{app_type.id}}" class="col-offset-50">查看更多</a>
	    </div>
	    <div class="row test" drop-down ng-swipe-left="swipeLeft($index, app_type.app_informations.length)" ng-swipe-right="swipeRight($index)" style="overflow:hidden">
	    	<div class="col-20 repeated-item" ng-repeat="app in app_type.app_informations.slice(start[$index],start[$index]+5)" >
	    	<!-- <div class="col-20" ng-repeat="app in app_type.app_informations" > -->
	    		<a ng-href="{{app.url}}">
		    		<div style="padding:5px;">
		    		<img src="{{app.image_url}}" width="100%" style="display:block;">
							<p style="text-align:center;verflow:hidden;margin-top:5px;">{{app.name}}</p>
						</div>
					</a>
	    	</div>
	    </div>
    </div>
	</div>
</div>
