<div class="content-padded">
  <h4>将内容分享到：</h4>
  <div class="bdsharebuttonbox">
    <a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
    <a href="#" class="bds_tqf" data-cmd="tqf" title="分享到腾讯朋友"></a>
    <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
    <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
    <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
    <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到linkedin"></a>
    <a href="#" class="bds_mail" data-cmd="mail" title="分享到邮件分享"></a>
  </div>  
</div>
