<header class="bar bar-header bar-nav custom-header">
  <a class="react action pull-left custom-back" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <img class="header-image" src="images/adv/health.gif" />
</header>

<ion-content class="has-header" overflow-scroll="true" cache-view="true" id="cooperate">
  <div>
    <div class="cooperate-item">
      <h5>联系方式：</h5>
      <p>欢迎各类线上线下活动合作，合作形式不限。</p>
      <p>联系微信: 13921530318 </p>
      <p>联系 qq: 3161177845</p>
    </div>
  </div>
</ion-content>
