<%= partial 'header', locals: { title: "症状显示详细" } %>

<div id="symptoms">
  <ul>
    <li class="" toggle>
      <img src="images/ico-team/icon1.png" alt="图片描述"><strong>头部</strong>
      <em>鼻塞、流鼻血、落枕、呼吸困难</em>
      <div class="box" style="display: none;">
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
      </div>
    </li>

    <li class="" toggle>
      <img src="images/ico-team/icon1.png" alt="图片描述"><strong>头部</strong>
      <em>鼻塞、流鼻血、落枕、呼吸困难</em>
      <div class="box" style="display: none;">
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
        <a href="#">鼻塞</a> |
      </div>
    </li>
  </ul>
</div>
