<%= partial 'subheader' %>
<div class="content examinations-content">
	<ul class="list">
		<li class="item item-thumbnail-left" ng-repeat="examination in data.data">
			<img ng-src="{{examination.image_url}}">
			<a href="#/detail/examinations/examinations/{{examination.id}}" class="examination-name">
				<p>{{examination.name}}</p>
				<p>
					<span style="color: #ffd700">★★★★★</span>  5分
					<span style="float:right;color:#adadad;font-size:0.8em;" class="ng-binding">0个评价</span>
				</p>
				<p>
					<span class="price-color">价格：￥{{examination.price}}</span>
					<span style="float:right;color:#adadad;font-size:0.8em;" class="ng-binding">0人购买</span>
				</p>
			</a>

			<span ng-repeat="examination_type in examination.examination_type">
			 	<a ng-href="{{ examination_type.url }}">
			 		[{{examination_type.name}}]
			 	</a>
			</span>
		</li>
	</ul>

	<button class="button button-block button-balanced" ng-click="loadMore()" ng-show="moreData">
	 查看更多
	</button>
	<%= partial 'error_check' %>
</div>
