<%= partial 'subheader' %>

<div class="content examinations-content">
	<ul class="list">
		<li class="item item-thumbnail-left" ng-repeat="examination in data.data">
			<img ng-src="{{examination.image_url}}">
			<a href="#/detail/examinations/examinations/{{examination.id}}" class="examination-name">{{examination.name}}</a>
			<p>价格：<span class="price">￥{{examination.price}}</span></p>
			<div ng-repeat="examination_type in examination.types">
			 	<a ng-href="{{ examination_type.url }}">适应人群：{{examination_type.name}}</a>
				<p>价格区间: ￥{{ examination_type.examination_charge.min_price }} -
					￥{{ examination_type.examination_charge.max_price }}</p>
			</div>
		</li>
	</ul>

	<button class="button button-block button-balanced" ng-click="loadMore()" ng-show="moreData">
	 查看更多
	</button>
</div>
