<header class="bar bar-nav" style="position:relative">

  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title" style="margin:0;font-size:22px;">
    健康资讯头条
  </h1>
  <a href="" class="download-reminder  pull-right">详情页界面</a>
</header>

<div id="health_information_detail">
  <section>
    <div>
      <ul style="padding: 0px;">
        <li>
          <img style="width:100%;" src="http://lorempixel.com/400/200" alt="">
        </li>
      </ul>
    </div>
  </section>

  <section>
    <h3 class="information-title">中国非公立医疗机构协会获资质 </h3>
    <div class="information-detail">
      <div class="time-info">9-11,14:24  人民网</div>
      <hr>
      <p style="text-indent: 20px;">人民网北京9月10日电（记者刘婧婷）日前，记者从中国非公立医疗机构协会（以下简称协会）获悉，该协会经审核批准，获得在全国范围内对非公立医疗机构开展行业信用等级评价资质。
据中国非公立医疗机构协会副会长兼秘书长郝德明介绍，中国非公立医疗机构协会将严格按照《国务院关于促进市场公平竞争维护市场正常秩序的若干意见》（国发〔2014〕20号）、《社会信用体系建设纲要2014-2020》（国发〔2014〕21号）等文件精神，在行业内将主动培育非公立医疗行业信用发展的创新机制，以此来规范医疗卫生服务业行为，为人民群众营造良好的就医环境。为此，该协会将加快构建行业协会组织、第三方机构合作、会员单位参与、政府指导推动、社会监督协作的“五位一体”行业信用评价体系的建设。协会将按照国家要求，抓紧启动全国非公立医疗机构行业信用等级评价筹备工作，协会将组织医疗卫生和社会信用管理专家研究起草《中国非公立医疗机构行业信用等级评价标准与评价程序》和《中国非公立医疗机构行业信用等级评价管理办法》。希望该信用评价体系的建立，能更为有效地发挥协会的行业服务、指导与管理作用，为社会办医疗机构提供一个更具有公信力的平台。该平台将在人民网和协会联合主办的中国社会办医网上发布。
据悉，该协会还将在信用等级评价的基础上，结合国家质检总局“中国品牌建设”体系标准，开展行业品牌价值评价，促进行业品牌价值提升，形成以行业协会为主体，专业第三方为支撑的，具有中国非公立医疗特色品牌价值服务体系。为此，该协会下一步将大力推进行业品牌建设，扶持一批品牌医疗机构，创建发布“中国非公立医疗行业品牌价值榜”。
      </p>
    </div>
  </section>

  <section>
    <h4>热门评论:</h4>
    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>
    <button class="button button-full button-balanced">
      全部评论
    </button>
  </section>

  <section>
    <h4>推荐阅读:</h4>
    <ul class="information-items">
      <li class="information-item"><a href="">中国 | 非公立医疗机构协会获国家级 疗机构协会获国</a></li>
      <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
      <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
      <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
      <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
    </ul>
  </section>

  <section>
    <h4>频道精选:</h4>
    <ul class="information-items">
        <li class="information-item"><a href="">中国 | 非公立医疗机构协会获国家级 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      </ul>
  </section>

  <section>
    <h4>热门图片:</h4>
    <div class="ad-picture">
      <ul class="information-items">
        <li>
          <img  style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
        <li>
          <img style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
      </ul>
    </div>
  </section>
</div>
