<div id="health_information">
  <nav style="">
    <div>
      <span>﹤健康资讯头条 </span>
      <span class="download-reminder">下载吃药提醒？</span>
    </div>
    <div>
      <a href="">资讯头条</a>
      <a href="">养身</a>
      <a href="">养老</a>
      <a href="">瘦身</a>
      <a href="">健康管理</a>
    </div>
    <div>
      <a href="">寻医搜药</a>
      <a href="">热门专科</a>
      <a href="">母婴健康</a>
      <a href="">海外医讯</a>
    </div>
  </nav>


  <section>
    <div>
      <ul style="padding: 0px;">
        <li>
          <img style="width:100%;" src="http://lorempixel.com/400/200" alt="">
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <h3>资讯头条</h3>
      <ul class="information-item">
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="ad-picture">
      <ul class="information-item">
        <li>
          <img  style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
        <li>
          <img style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <div class="category-information" style="">
        <h3 class="category-title">养身</h3>
        <ul class="category-items">
          <li>睡眠 |</li>
          <li>中医 |</li>
          <li>养老 </li>
        </ul>
      </div>
      <ul style="padding-left: 20px;">
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
        <li><a href="">中国非公立医疗机构协会获国家级行业信用等级评价资质 </a></li>
        <li><a href="">原创|世界预防自杀日:冲动是魔鬼，带你认识冲动性自杀 </a></li>
      </ul>
    </div>
    <div class="load-more"><a href="">查看更多>></a></div>
  </section>
</div>

