<header class="bar bar-header bar-nav custom-header">
  <img class="header-image" src="images/adv/health.gif" />
  <div class="hamburger-wrapper">
    <i class="icon ion-navicon pull-right custom-menu" ng-click="toggle()"></i>
    <ul class="hamburger-items" ng-show="hamburgersOpen">
      <li class="hamburger-item" ng-repeat="hamburger in hamburgers">
        <img ng-src="{{hamburger.image_url}}">
        <a ng-href="{{hamburger.url}}">{{hamburger.name}}</a>
      </li>
    </ul>
  </div>
</header>

<ion-content class="has-header" overflow-scroll="true" cache-view="true">
  <div class="afterHeight"  ng-if="afterHeight">
  </div>
  <!-- <div ng-class="{beforeHeight: before == 'yes', afterHight: before != 'yes'}"></div> -->
  <div id="health_information" >
    <nav>
      <ul>
        <li ng-repeat="information_type in health_infors.information_types">
          <a href="javascript:;" ng-click="gotoCategory({{information_type.id}})">
            {{ information_type.name }}
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <div class="ads-images" ng-if="hotAds">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue='true' auto-play='true'>
          <ion-slide ng-repeat="hot_ads in hotAds">
            <div class="box">
              <img class="ads-image" ng-src="{{ hot_ads.image_url }}" alt="广告图片"></img>
              <a class="information-title" ng-href="#/healthInformationDetail?id={{hot_ads.id}}" >{{ hot_ads.name }}</a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </section>


    <div class="list" id="{{infor_item.id}}" ng-repeat="infor_item in infor_items | toArray">
      <div ng-class="{true: 'first-category', false: ''}[$index == 0]">
        <div class="category-information" style="">
          <h3 class="category-title">
            <a>{{ infor_item.name }}</a>
          </h3>
          <ul class="category-items">
            <li ng-repeat="children_item in infor_item.children_items | limitTo:3" ng-click="showChildreninfors(infor_item.id, children_item.id)">
              <a href="javascript:;"></a> {{ children_item.name }}
            </li>
          </ul>
        </div>
        <ul class="information-items">
          <li class="information-item picture-ads"
            ng-repeat="information in infor_item.latest_informations"
            ng-class="{true: 'two-picture-infor', false: ''}[twoPicture($index, infor_item.name)]">
            <!-- the first two information items just use picture, others just word -->
            <div class="item-wrapper">
              <a class="image-item"
              ng-href="#/healthInformationDetail?id={{information.id}}"
              ng-if="twoPicture($index, infor_item.name)" >
                <img ng-src="{{information.image_url}}">
                <p class="info-name">{{information.name}}</p>
              </a>

              <a href="#/healthInformationDetail?id={{information.id}}" ng-if="!twoPicture($index, infor_item.name)">
                {{ information.name }}
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="load-more"
        ng-if="infor_item.latest_informations.length > 0"
        ng-click="loadMore({{infor_item.id}})">
        <a href="javascript:;">查看更多>></a>
      </div>
    </div>

    <section ng-if="health_infors.information_hotest_images.length">
      <h3>热门图片</h3>
      <div class="ad-picture">
        <ul class="information-item">
          <li ng-repeat="hot_image in health_infors.information_hotest_images">
            <a class="image-item" ng-href="#/healthInformationDetail?id={{hot_image.id}}">
            <img  style="width: 100%;" alt="" ng-src="{{ hot_image.image_url }}">
            </a>
          </li>
        </ul>
      </div>
    </section>

     <section ng-if="preciseCategories.length">
      <h3>精确查询</h3>
      <div>
        <ul class="preciseCategories">
          <li ng-repeat="preciseCategory in preciseCategories" class="preciseCategory-item">
            <a ng-href="{{ preciseCategory.link }}">
              <img alt="" ng-src="{{ preciseCategory.icon }}">
              <p class="preciseCategory-title">{{ preciseCategory.title }}</p>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="last-section" ng-show="show_last">
      <h3>健康医疗APP大全</h3>
      <div class="list list-inset" ng-repeat="app_type in data.data">
        <div class="item">
          <div class="row">
            <p class="col-33" style="font-size: 1.4em;">
              {{app_type.name}}
            </p>
            <a href="#/infors/app_types/{{app_type.id}}" class="col-offset-50">查看更多</a>
          </div>
          <div class="row test" drop-down ng-swipe-left="swipeLeft($index, app_type.app_informations.length)" ng-swipe-right="swipeRight($index)" style="overflow:hidden">
            <div class="col-20 repeated-item" ng-repeat="app in app_type.app_informations.slice(start[$index],start[$index]+5)">
            <!-- <div class="col-20" ng-repeat="app in app_type.app_informations" > -->
              <a ng-href="{{app.url}}">
                <div style="padding:5px;">
                <img src="{{app.image_url}}" width="100%" style="display:block;">
                  <p style="text-align:center;verflow:hidden;margin-top:5px;">{{app.name}}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="last-section" ng-show="show_last">
      <h3>合作赞助联系方式</h3>
      <div class="list list-inset">
        <div class="connect-way item">
          <p> 微信: 13921530318 </p>
          <p> qq: 3161177845 </p>
        </div>
      </div>
      <p class="disclaimer">【免责声明：我们尊重原创，主要目的在于分享信息。版权原作者所有，如有侵犯您的权益请及时告知我们，我们将在24小时之内删除。】</p>
    </section>
  </div>
</ion-content>
