<header class="bar bar-nav" style="position:relative">
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title" style="margin:0;font-size:22px;">
    健康资讯头条
  </h1>
  <a href="" class="download-reminder  pull-right">下载吃药提醒？</a>
</header>

<div id="health_information">
  <nav style="">
    <div>
      <a href="">资讯头条 |</a>
      <a href="">养身 |</a>
      <a href="">养老 |</a>
      <a href="">瘦身 |</a>
      <a href="">健康管理 </a>
    </div>
    <div>
      <a href="">寻医搜药 |</a>
      <a href="">热门专科 |</a>
      <a href="">母婴健康 |</a>
      <a href="">海外医讯 </a>
    </div>
  </nav>

  <section>
    <div>
      <ul style="padding: 0px;">
        <li>
          <img style="width:100%;" src="http://lorempixel.com/400/200" alt="">
        </li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <h3>资讯头条</h3>
      <ul class="information-items">
        <li class="information-item"><a href="">中国 | 非公立医疗机构协会获国家级 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="ad-picture">
      <ul class="information-item">
        <li>
          <img  style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
        <li>
          <img style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
      </ul>
    </div>
  </section>

  <section>
    <div>
      <div class="category-information" style="">
        <h3 class="category-title">养身</h3>
        <ul class="category-items">
          <li>睡眠 |</li>
          <li>中医 |</li>
          <li>养老 </li>
        </ul>
      </div>
      <ul class="information-items">
        <li class="information-item"><a href="">中国 | 非公立医疗机构协会获国家级 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
        <li class="information-item"><a href="">中国 | 非公立医疗机构协 疗机构协会获国</a></li>
        <li class="information-item"><a href="">原创 | 世界预防自杀日 疗机构协会获国</a></li>
      </ul>
    </div>
    <div class="load-more"><a href="">查看更多>></a></div>
  </section>
</div>

