<header class="bar bar-nav" style="position:relative">
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title" style="margin:0;font-size:22px;">
    {{ health_infors.data[0].name }}
  </h1>
  <a href="" class="download-reminder  pull-right">下载吃药提醒</a>
</header>

<div id="health_information">
  <nav style="">
    <div>
      <a ng-href="#/healthInformation?type={{information_type.id }}" id="1" ng-repeat="information_type in health_infors.information_types">
        {{ information_type.name }} |
      </a>
    </div>
  </nav>

  <section>
    <div>
      <ul style="padding: 0px;">
        <li>
          <img style="width:100%;" src="http://lorempixel.com/400/200" alt="">
        </li>
      </ul>
    </div>
  </section>

  <section ng-repeat="data in health_infors.data">
    <div>
      <div class="category-information" style="">
        <h3 class="category-title">{{ data.name }}</h3>
        <ul class="category-items">
          <li ng-repeat="children_item in data.children_items | limitTo:3">
            <a href="#/healthInformation?id={{children_item.id}}"></a> {{ children_item.name }} |
          </li>
        </ul>
      </div>
      <div>
        <ul class="information-items">
          <li class="information-item" ng-repeat="information in latest_informations">
            <!-- <a href="">{{information.type_name }} | {{ information.name   }}</a> -->
            <a href="#/healthInformationDetail?id={{information.id}}"> {{ information.name   }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="load-more">
      <a href="" ng-click="loadMore()">查看更多>></a>
    </div>
  </section>

  <section>
    <div class="ad-picture">
      <ul class="information-item">
        <li>
          <img  style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
        <li>
          <img style="width: 100%;" src="http://lorempixel.com/400/200" alt=""></li>
      </ul>
    </div>
  </section>
</div>

