<style type="text/css">
.title {
	position: relative;
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

</style>
<div id="nav-over"></div>
<nav popover="homeData['subtitle']" class="popover-left"></nav>
<div id="warmp" class="warmp">
	<section class="fix menubar">
    <li class="ico-home">
      <div class="tupian"></div>
      <div class="wenzi">扫一扫</div>
    </li>
    <li class="ico-sousuo" >
      <a href="#/search">
      <div class="title">
        <div class="sousuo"></div>
        <div class="wenzi">搜医/找药/问健康</div>
      </div>
      </a>
      <div class="tupian"></div>
    </li>
    <li class="ico-xiaoxi">
      <div class="tupian"></div>
      <div class="xxtx">2</div>
      <div class="wenzi">消息</div>
    </li>
		<li class="ico-nav">
      <div class="tupian"></div>
      <div class="wenzi">科航</div>
    </li>    
	</section>
  <div class="content" style="top:50px;margin-bottom:42px;">
	<div class="fix description" style="background-color: #fff">
		<li class="left33">
			<div class="zuo">
				<div class="qiwen">10°</div>
				<div class="tqtp"></div>
			</div>
			<div class="you">
				<div class="kongqi">
          <a class="react pull-left" ng-click="$root.popover.toggle()">
            {{ $root.city.title || homeData['subtitle'].title }}
            <!-- <span ng-class="$root.popover.show ? 'ion-arrow-down-b' : 'ion-arrow-up-b'" class="ion-arrow-up-b"></span> -->
          </a>
        </div>
				<div class="qhcs" ng-click="$root.popover.toggle()">
          (切换城市)
          <!-- <span ng-class="$root.popover.show ? 'ion-arrow-down-b' : 'ion-arrow-up-b'" class="ion-arrow-up-b"></span> -->
        </div>
				<div class="kongqi1">空气180</div>
				<div class="xlcd"></div>

			</div>
		</li>
		<li class="right33">
			<div class="hyll">欢迎浏览&nbsp;</div>
			<div class="souyisou"> 搜<span>医</span>搜</div>
			<div class="wangyeban">(手机版)<br>(网页版)</div>
		</li>
	</div>


	<!--图片滚动  -->
	<%=partial "ads"%>
  	
  	<div class="tab-iteam" id="tab-iteam1" style="background-color: #FFF">
  	  <div class="tab-iteam-con" id="tabBox1-bd">
  			<div class="con active">
  	  		<ul>
  	        <li ng-repeat="button in homeData.buttons">
  	      		<a ng-href="{{button.link}}">
  	        		<img ng-src="{{button.icon}}" /> <br>
  	        		{{button.title}}
  	      		</a>
  	    		</li>
  	      </ul>
  	    </div>
  		</div>
  	</div>
  	<div class="back-color">
      <div class="bg team-ks">
        <div class="index-hd">
          <a class="more" href="#/infors/nav">更多>></a>
          <h3>健康资讯导航</h3>
        </div>
        <div class="bd">
          <div class="fix">
            <div class="lanrenzhijia">
              <div class="ctrl-panel">
                  <a class="m-page" href="javascript:;" rel="js_btn_list">1</a>
                  <a class="m-page" href="javascript:;" rel="js_btn_list">2</a>
                  <a class="m-page" href="javascript:;" rel="js_btn_list">3</a>
                  <a class="m-page" href="javascript:;" rel="js_btn_list">4</a>
              </div>
              <div class="scroll-wrap">
                <ul rn-carousel class="image" rn-carousel-auto-slide style="overflow: visible">
                  <li class="content_list" ng-repeat="pic in homeData.pictur_infors">
                    <img src="{{pic.image_url}}" />
                  </li>
                  <!-- <div class="content_list">
                    <img src="images/adv/img02.jpg" />
                  </div>
                  <div class="content_list">
                    <img src="images/adv/img03.jpg" />
                  </div>
                  <div class="content_list">
                    <img src="images/adv/img04.jpg" />
                  </div>
                  <div class="content_list">
                    <img src="images/adv/img05.jpg" />
                  </div> -->
                </ul>
              </div>
            </div>
            <div class="des">
              <li ng-repeat=" infor in homeData.title_infors">
                <a ng-href="{{infor.url}}">{{infor.name}}</a>
              </li>
              <!-- <li>激光美容科主任容科</li>
              <li>激光美容科主任容科</li>
              <li>激光美容科主任容科</li> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="xian"></div>
    <div class="back-color">
      <div class="tab-news fix" id="tab-news">
        <div class="tab-news-hd tab-hd-index">
          <ul class="fix">
            <li class="note">
              <div class="images"></div>
              健康医疗APP大全
            </li>
            <li class="update">
              <div class="images"></div>
              <div class="span">
                <a href="#/infors/apps">更多热门APP</a>
              </div>
              <div class="bi"></div>
            </li>
          </ul>
        </div>
        <div class="tab-news-con">
          <div class="con list-index active">
            <ul>
              <li class="left22">
                <a href="dongtai/211484.html">粉红时光拯救乳</a>
                <a class="tel" rel="nofollow" href="#" onclick="msgOnline('tel','news');"></a>
              </li>
              <li class="right22"><a href="#">高新技术重塑男</a>
                <a class="tel" rel="nofollow" href="tel_3A//075525890396" onclick="msgOnline('tel','news');"></a>
              </li>
            </ul>
          </div>
          <div class="con list-index">
            <ul>
              <li class="left22">
                <a href="#">特惠不容错过</a>
                <a class="tel" rel="nofollow" href="#" onclick="msgOnline('tel','news');"></a>
              </li>
              <li class="right22">
                <a href="#">医院优惠活动</a>
                <a class="tel" rel="nofollow" href="#" onclick="msgOnline('tel','news');"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="xian"></div>
    <div class="guanggao" style="background-color: #fff">
      <div class="bd1">
          <ul class="fix">
              <li class="left11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu3.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">新用户专享</div>
                      <div class="pingfen11">每周整形</div>
                  </div>
              </li>
              <li class="right11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu2.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">热门团购</div>
                      <div class="span">看大家整什么</div>
                  </div>
              </li>
          </ul>
      </div>
    </div>
    <div class="xian"></div>
    <!-- <div class="bg team">
      <div class="fix index-hd">
        <a class="more" href="#">更多>></a>
        <h3>猜你喜欢</h3>
      </div>
      <div class="bd">
        <ul>
          <li class="fix">
            <a class="pic" href="#" title="曹慕莹">
              <img src="images/ks_trzx_tu4.jpg" />
            </a>
            <div class="des11">
              <div class="mingcheng">专家名称：曹慕莹</div>
              <div class="more">更多>></div>
              <div class="pingfen">综合评分<span>0.0</span></div>
            </div>
          </li>
          <li class="fix">
            <a class="pic" href="#" title="曹慕莹">
              <img src="images/ks_trzx_tu4.jpg" />
            </a>
            <div class="des11">
              <div class="mingcheng">专家名称：曹慕莹</div>
              <div class="more">更多>></div>
              <div class="pingfen">综合评分<span>0.0</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="bg team">
      <div class="fix index-hd">
        <!-- <a class="more" href="#">更多>></a> -->
        <h3>猜你喜欢</h3>
      </div>
    <%= partial 'related' %> 
    </div> 
  </div>
</div>
