<style type="text/css">
.title {
	position: relative;
	margin: 0;
	font-size: 14px;
	font-weight: 300;
}

.slider-pager {
  bottom: 15px;
}

</style>
<!-- <img id="mySpinner" src="/images/loading.gif" style="position:fixed;z-index:9999;top:50%;left:50%;margin-left:-40px;margin-top:-49px;" ng-show="loading"> -->
<!-- <div id="nav-over"></div> -->
<nav popover="homeData['subtitle']" class="popover-left"></nav>
<div id="warmp" class="warmp">
	
  <div class="bar bar-subheader" style="top:0;background:none;border:none;">
  <div class="row">
    <div class="col">
      <a ng-click="$root.popover.toggle()" style="color:#fff;font-weight: 800">
        {{ $root.city.title || homeData['subtitle'].title }}
        <i class="icon ion-chevron-down" style="font-size:15px;"></i>
      </a>
    </div>
    <div class="col-75">
      <a href="#/search">
      <div style="width:100%;padding:5px;border-radius:5px;background:rgba(255, 255, 255, 0.51);color:#373737">
      <i class="icon ion-search" style="padding:0;"></i>
        请输入要搜索的内容
      </div>
    </a>
    </div>
  </div>
  </div>

  <div class="content" style="margin-bottom:42px;">
	
	<%=partial "ads"%>
  <%= partial "nav_box" %>

    <div class="card" style="margin-bottom:0;">
      <div class="item item-text-wrap" style="padding:0">
        <div class="row" style="display:inline-block;margin-left:0">
          <div class="col">
          健康资讯头条
          <a class="more" href="#/infors/nav" style="float:right;display:inline-block;">更多>></a>
          </div>
        </div>

        <div class="row" style="margin: auto 0">
          <div class="col col50">
            <carousel interval="3000">
              <slide ng-repeat="slide in slide_infos" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
              </slide>
            </carousel>
          </div>

          <div class="col col50">
            <ul>
              <li ng-repeat=" infor in homeData.title_infors" class="health-info-list">
                <a ng-href="{{infor.url}}">{{infor.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="xian"></div>


    <div class="card" style="margin-bottom:0;">
      <div class="item item-text-wrap" style="padding:0">
        <div class="row" style="margin: auto 0">
          <div class="col col50">
            <div class="health-apps-logo"></div>
              <a href="">健康医疗APP商城</a>
          </div>
          <div class="col col50">
            <!-- <div class="more-apps"></div> -->
            <a href="#/infors/apps">更多热门APP</a>
            <i class="ion ion-chevron-right" style="float:right;"></i>
          </div>
        </div>

        <div class="row" style="margin: auto 0">

          <a class="col col20" ng-repeat="app in apps" href="#/infors/apps"> 
            <img src="{{app.image_url}}" width="90%">
            <p style="text-align:center;width:90%;overflow:hidden;white-space:nowrap;">{{app.name}}</p>
          </a>
        </div>
      </div>
    </div>

    <div class="xian"></div>

    <div class="guanggao" style="background-color: #fff">
      <div class="bd1">
          <ul class="fix">
              <li class="left11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu3.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">新用户专享</div>
                      <div class="pingfen11">每周整形</div>
                  </div>
              </li>
              <li class="right11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu2.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">热门团购</div>
                      <div class="span">看大家整什么</div>
                  </div>
              </li>
          </ul>
      </div>

      <div class="bd1">
          <ul class="fix">
              <li class="left11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu3.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">优惠洗牙</div>
                      <div class="pingfen11">每周整形</div>
                  </div>
              </li>
              <li class="right11">
                  <a class="pic" href="#" title="曹慕莹">
                      <img src="images/ks_trzx_tu2.jpg" /></a>
                  <div class="des1">
                      <div class="mingcheng11">最新药品</div>
                      <div class="span">看大家整什么</div>
                  </div>
              </li>
          </ul>
      </div>
    <div class="xian"></div>
    <!-- <div class="bg team">
      <div class="fix index-hd">
        <a class="more" href="#">更多>></a>
        <h3>猜你喜欢</h3>
      </div>
      <div class="bd">
        <ul>
          <li class="fix">
            <a class="pic" href="#" title="曹慕莹">
              <img src="images/ks_trzx_tu4.jpg" />
            </a>
            <div class="des11">
              <div class="mingcheng">专家名称：曹慕莹</div>
              <div class="more">更多>></div>
              <div class="pingfen">综合评分<span>0.0</span></div>
            </div>
          </li>
          <li class="fix">
            <a class="pic" href="#" title="曹慕莹">
              <img src="images/ks_trzx_tu4.jpg" />
            </a>
            <div class="des11">
              <div class="mingcheng">专家名称：曹慕莹</div>
              <div class="more">更多>></div>
              <div class="pingfen">综合评分<span>0.0</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <div class="bg team">
      <div class="fix index-hd">
        <!-- <a class="more" href="#">更多>></a> -->
        <h3>猜你喜欢</h3>
      </div>
    <%= partial 'related' %> 
    </div> 
  </div>
</div>
