<header class="bar bar-nav">
  <a class="react pull-left" ng-click="$root.popover.toggle()">
    {{ $root.city.title || homeData['subtitle'].title }}
    <span ng-class="$root.popover.show ? 'ion-arrow-down-b' : 'ion-arrow-up-b'" class="ion-arrow-up-b"></span>
  </a>
  <div class="input-wrapper fake-input" ng-style="{left: searchLeft}">
    <span class="ionicon ion-ios7-search-strong"></span>
    <input class="search" type="text" value="请输入您要搜索的内容" ng-click="redirectTo('/search')" readonly>
  </div>
</header>

<nav popover="homeData['subtitle']" class="popover-left"></nav>

<div class="content">

  <div class="slides">
    <ul rn-carousel rn-carousel-auto-slide="5">
      <li><img src="images/samples/720x334.png" /></li>
      <li><img src="images/samples/720x334.png" /></li>
      <li><img src="images/samples/720x334.png" /></li>
      <li><img src="images/samples/720x334.png" /></li>
      <li><img src="images/samples/720x334.png" /></li>
    </ul>
  </div>

  <div class="card" ng-if="homeData">
    <ul class="button-view">

      <li class="button-view-cell" ng-repeat="button in homeData.buttons">
        <a class="react" ng-href="{{button.link}}">
          <img ng-src="{{button.icon}}" />
          <span>{{button.title}}</span>
        </a>
      </li>

    </ul>
  </div>

  <%= partial 'related' %> 

</div>
