<style>
  td {
    border: solid 1px #000;
    width: 38px;
    text-align: center;
    vertical-align: middle;
  }

</style>
<%= partial 'subheader' %>
<%#= partial "ads"%>
<div style="position: fixed;z-index: 99;top:100px;left:0;display: inline-block;width:100%;">
  <div popup-box>
    

  </div>
  <span style="display:block;background-color: #E62418;float: left;border-radius: 0 5px 5px 0;" ng-click="$root.popupBox.toggle()">>></span>
</div>
<div class="content" ng-class="type" style="margin-top:110px;margin-bottom: 42px;">
  <div list list-data="data['data']" list-load-more="查看更多" list-fin="data['fin']" ng-if="data['data']" list-title="{{data.title}}" list-filters="data['filters']" list-id="hospital_parent_type">
  </div>

  <div list list-data="data['related']" list-url="/api/related_hospital.json?hospital_type={{data['title']}}" list-title="其他相关" list-more="查看所有相关" list-more-link="#/list" ng-if="data['related']" list-fin="data['fin']">
  </div>

  <div class="bg team" ng-if="data['recommend']">
      <div class="fix index-hd">
        <!-- <a class="more" href="#">更多>></a> -->
        <h3>猜你喜欢</h3>
      </div>
    <%= partial 'related' %> 
    </div> 
</div>
