<%= partial 'header', locals: { title: "登陆账号" } %>

<div class="content" ng-hide="account">
  
  <div class="card">
    <div class="content-padded">
      <form class="login" ng-controller="FormCtrl" ng-submit="submit('/api/sign_in', {account: account}, afterLogin)" name="form">
        <input type="text" placeholder="请输入电子邮箱" ng-model="account.email">
        <input type="password" placeholder="请输入密码" ng-model="account.password">
        <button class="btn btn-large btn-block">登　录</button>
      </form>
      
      <div class="login-actions">
        <a ng-href="#/register/{{redirectToPath}}">免费注册</a>
        <a class="pull-right" href="#/retrieve">找回密码</a>
      </div>
<!-- 
      <div class="login-oauth">
        <a href="#">
          <img src="images/sina.gif" width="140">
        </a>
        <a class="pull-right" href="#">
          <img src="images/qq.gif" width="140">
        </a>
      </div>
 -->
    </div>
  </div>

  <%= partial 'related' %>

</div>
