<div class="bar bar-header bar-assertive">
   <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <h1 class="title">导航</h1>
</div>
<div class="bar bar-subheader custom-subheader">
  <div class="row custom-row">
    <div class="col button" ng-click="walkingRoute()">步行</div>
    <div class="col button" ng-click="drivingRoute()">驾车</div>
    <div class="col button" ng-click="transitRoute()">公交</div>
  </div>
</div>
<div id="allmap"></div>
<div id="r-result">
  <p class="custom-tips">请选择导航方式<p>
</div>
