
<style type="text/css">
	.health-nav li {
		padding: 0 10px;
		line-height: 60px;
		font-size: 1.6em;
		border-bottom: 1px solid #000;
	}

</style>


<%= partial 'header', locals: { title: "健康医疗资讯导航" } %>
<div class="content">
	<div class="list" drop-down>
    <div  ng-repeat="nav in data">
      <p ng-click="showDoctors($index)" class="item item-divider">
        <i class="ion-chevron-down" style="float:right"></i>
        {{nav.name}}
      </p>

      <div ng-show="ifShow[$index]" >
        <a class="item" href="{{health_infomation.url}}" ng-repeat="health_infomation in nav.health_informations">{{health_infomation.name}}</a>
      </div>

    </div>


  </div>



</div>
