<header class="bar bar-nav" style="height: 98px;">
  <a class="react action pull-left" ng-click="back()" style="padding-top:40px;">
    <span class="ionicon ion-chevron-left" style="font-size: 45px;">
  </a>
  <div class="input-wrapper">
    <div search>
    
    </div>
  </div>
  
  
</header>

<div class="content" style="padding-top:100px;">

  <div keyword keyword-url="/api/keywords.json"></div>

  <div history></div>
  
  <%#= partial 'related' %>

</div>