<header class="bar bar-nav">
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <div class="input-wrapper">
    <span class="ionicon ion-ios7-search-strong"></span>
    <input class="search" type="text" placeholder="请输入您要搜索的内容">
  </div>
</header>

<div class="content">
  <div keyword keyword-url="api/keywords.json"></div>

  <div history></div>
  
  <%= partial 'related' %>

</div>