<header class="bar bar-nav" style="overflow: visible;">
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left" style="font-size: 1.6em;">
  </a>
  <h1 id="search-title">搜索</h1>
</header>

<div id="search" class="content">
  <div class="seach-area" search></div>

  <div keyword keyword-url="/api/keywords.json"></div>

  <div history></div>

  <%#= partial 'related' %>

</div>
