<%= partial 'header', locals: { title: "症状显示详细" } %>

<div id="symptoms">
  <ul>
    <li class="" toggle ng-repeat="symptom in symptoms">
      <img ng-src="{{ getImageUrl(symptom)}}" alt="图片描述"><strong>{{ symptom.part_name }}</strong>
      <em><span ng-repeat="comment_symptom in getCommentSymtoms(symptom)">{{comment_symptom.name}}</span></em>
      <div class="box" style="display: none;">
        <a href="#" ng-repeat="symptom_item in symptom.symptoms">{{ symptom_item.name }} | </a>
      </div>
    </li>
  </ul>
</div>
