<%= partial 'header', locals: { title: "症状查询" } %>

<div id="symptoms">
  <ul>
    <li class="" toggle ng-repeat="data in data.data">
      <img ng-src="{{ ::getImageUrl(data)}}" alt="图片描述"><strong>{{ ::data.name }}</strong>
      <em><span ng-repeat="comment_symptom in getCommentSymtoms(data)">{{::comment_symptom.name}}</span></em>
      <div class="box">
        <a ng-href="#/detail/symptoms/symptoms/{{symptom_item.id }}" ng-repeat="symptom_item in data.symptoms">{{ symptom_item.name }}</a>
      </div>
    </li>
  </ul>
  <%= partial 'error_check' %>
</div>
