<%= partial 'templates/header' %>

<div class="content" ng-class="type">

  <div table table-data="data['data']" table-per="data['per']" table-load-more="查看更多" table-fin="data['fin']" ng-if="data['data']"></div>
  
  <%= partial 'related' %>

</div>

