<header class="bar bar-nav">
  <h1 class="title">{{data['title']}}</h1>
  <a class="react action pull-left" ng-click="back()">
    <span class="ionicon ion-chevron-left">
  </a>
  <a class="react pull-right">
    {{data['subtitle']}}
  </a>
</header>

<nav filter filter-data="data['filters']" ng-show="data['filters']" ng-class="{'bar bar-header-secondary filters': data['filters']}"></nav>

<div class="content" ng-class="type">

  <div table table-data="data['data']" table-per="data['per']" table-load-more="查看更多" table-fin="data['fin']" ng-if="data['data']"></div>
  
  <%= partial 'related' %>

</div>

