<%= partial 'subheader',local: { title: "疾病保险"} %>
<div class="content" style="top:50px;">
  <div class="album">
    <img ng-src="{{data.hospital.image_url}}" />
    <!-- <div class="desc">点击图片查看相册</div> -->
  </div>
  <div class="card">
  <ul class="table-view media">
    <li class="table-view-cell">
      <div class="media-detail huge">
        <span><strong>{{data.price||"&nbsp;"}}</strong>元</span>
        <span>{{data.sales}}</span>
        <a class="btn btn-large btn-warning pull-right" ng-href="#/login/order/{{data.type}}/{{data.id}}" style="color:#fff;">立即购买</a>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail huge">
        <span>{{data.company}}</span>
       
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <!-- <h1>{{data.<%= defined?(title) ? title : :name %>}}</h1> -->
        <p class="pre">代理人：{{}}</p>
        <p class="pre">从业年限：{{}}</p>
        <p class="pre">联系电话：</p>
        <p class="pre">地址：</p>
        <p class="pre">公司网址：{{data.insurance_company.url}}</p>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <h4 class="fix">
          中心服务总评
          <span style="color: #ffd700">★★★★★5分</span>   
          <span class="pull-right">{{data.reviews_count}}人参与评分</span>
        </h4>
      </div>
      
    </li>
    <li class="table-view-cell">
      <div class="media-detail">
        <ul class="inline border" style="text-align: justify;">
          <% remarks = %i(流程正规 理赔效好 精准报价 品牌效应) %>

          <% remarks.each do |remark|%>
          <li><%=remark%></li>
          <%end%>
        </ul>
      </div>
    </li>

    <li class="table-view-cell">
      <div class="media-detail">
        <h1>服务项目</h1>
      </div>
    </li>







    <li class="table-view-cell">
      <div class="media-detail">
        <h1>购买须知：</h1>
        <p>有效期</p>
        <p>预约信息</p>
        <p>适用人数</p>
        <p>规则提醒</p>
        <p>温馨提示</p>
      </div>
    </li>
  </ul>
</div>
  <%#= partial 'templates/details/review' %>
 

<div class="card">
  <ul class="table-view media">
    <li class="table-view-cell media-title">
      商家位置
    </li>
    <li class="table-view-cell media-detail">
      <h1>{{data.insurance_company.name}}</h1>
      <p>联系电话：
        <a href="tel:{{data.insurance_company.telephone}}">{{data.insurance_company.telephone}}
          <img src="images/phone.gif" width="15"> 
        </a>
      </p>
      <p>地址：{{data.insurance_company.address}}</p>
      <div class="map" map map-data="data.insurance_company" ng-hide="data.is_foreign"></div>
      <ui-gmap-google-map center='map.center' zoom='map.zoom' ng-show="data.is_foreign"></ui-gmap-google-map>
    </li>
  </ul>
</div>


</div>

<footer class="footer">
  <menu class="footer-con" style="background-color:rgba(0,0,0,0.7);display:table-cell;text-align:center;vertical-align:middle;line-height:44px;">
    <div>
    <a href="tel:{{data.insurance_company.telephone}}"><image src="images/call.jpg" width="100%">  </a>
    <a ng-href="{{data.url}}"><image src="images/search.jpg" width="100%"></a>
    </div>
  </menu>
</footer>