<header class="bar bar-header bar-nav drugstore-header">
  <h2><i class="icon icon-home"></i>药店网</h2>
</header>

<ion-content overflow-scroll="true" cache-view="true">
  <div class="drugstore-site">
    <div class="drugstore">
      <div class="module-title">药店介绍</div>
      <div class="introduce">
        <p>药房网通过搭建开放式的医药零售电子商务平台为全球网上购物人群提供全面的（药品、保健品、美容护肤、减肥瘦身、母婴用品、成人用品、医疗器械等）健康医药信息与交易服务。</p>
      </div>
    </div>

    <div class="drugstore">
      <div class="module-title">药店动态</div>
      <div class="dynamic">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue='true' auto-play='true'>
          <ion-slide>
            <div class="box">
              <img src="http://lorempixel.com/800/400/sports" alt="广告图片"></img>
              <a class="dynamic-title">第一个上榜的药店系统</a>
            </div>
          </ion-slide>

          <ion-slide>
            <div class="box">
              <img src="http://lorempixel.com/800/400/nature" alt="广告图片"></img>
              <a class="dynamic-title">第一个上榜的药店系统</a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </div>
    </div>

    <div class="drugstore">
      <div class="module-title">热销产品</div>
      <div class="hot-product">
        <div class="row category-list-row">
          <div class="col category-item active" ng-click="loadProducts()">抗病毒</div>
          <div class="col category-item"  ng-click="loadProducts()">抗纤维化</div>
          <div class="col category-item" ng-click="loadProducts()">脱发</div>
        </div>
        <div class="product-list">
          <ul>
            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵阿莫莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>
            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>
            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>

            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵阿莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>
            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>
            <li class="product-item">
              <img src="http://lorempixel.com/200/200/nature">
              <h5>阿莫西陵</h5>
              <span class="product-price">￥35</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="drugstore">
      <div class="module-title">药品目录</div>
      <div class="catalog">
        <ul class="catalog-list">
          <li class="catalog-item">
            <h5><a href="#">中药药品</a></h5>
          </li>
          <li class="catalog-item"><h5><a href="#">成人保健</a></li>
          <li class="catalog-item"><h5><a href="#">营养保健</a></li>
          <li class="catalog-item"><h5><a href="#">健康服务</a></li>
        </ul>
      </div>
    </div>

    <div class="drugstore">
      <div class="module-title">联系方式</div>
      <div class="contact-way">
        <p>北京市xxxxx药房网 </p>
        <p>网址：www.syso.com.cn</p>
        <p>24小时客服热线：xxxx-xxxxx</p>

        <p>邮箱  xxx@xxx.com</p>
      </div>
    </div>

    <div class="drugstore">
      <div class="module-title">药店留言</div>
      <div class="messages"></div>
    </div>
  </div>
</ion-content>
